[2018-11-30 08:34] giorgiosironi commented on #1064
Not sure what combinations of configuration files and environments you were running locally, but the Helm chart that uses `ci` has a [fixed port](https://github.com/elifesciences/elife-xpub-formula/blob/master/helm/elife-xpub/templates/deployment.yaml#L73) for the `fakes3` container.

So `ci` needed to always use that port rather than a random one; afaik the random port would be used in automated

[2018-11-30 08:51] giorgiosironi commented on #1112
1. Open https://github.com/elifesciences/elife-xpub/commits/develop
2. Click on one of the check or cross marks
3. You should see `continuous-integration/jenkins/end2end/*`-prefixed checks in the list

![5080cec6-ec40-457b-823c-037115a58026](https://user-images.githubusercontent.com/160299/49278201-fb5b0080-f47b-11e8-9e82-78bfef720859.png)
![screenshot_2018-11-30 elifesciences elife-xpub](https://

[2018-11-30 08:59] diversemix commented on #1112
1) I was looking on my mobile - its not available on there :( so sorry about the confusion
2) Looking at #1133 (merged this morning about documentation) - I did squash this yet there are no end2end... why is that? Is it clever enough to know it does not need it or is it still running?

[2018-11-30 09:11] giorgiosironi commented on #1112
It has just got there as https://alfred.elifesciences.org/blue/organizations/jenkins/test-elife-xpub/detail/test-elife-xpub/546/pipeline, https://github.com/elifesciences/elife-xpub-deployment/pull/38 will speed that up as it will stop waiting for Gitlab.

That build however failed during the start of the servers, perhaps I can include that phase into what the commit status covers although it's no

[2018-11-30 09:31] diversemix commented on #1112
What is a tad concerning is that you get the green tick even when the state is in progress :thinking:

[2018-11-30 09:37] giorgiosironi commented on #1112
Let's take https://alfred.elifesciences.org/job/test-elife-xpub/547/consoleFull
Status created as `pending` (yellow circle):
[code]
Then after the test have run:
[code]
The build runs on then to deploy on `staging` but there's little left in end2end, do you see a different behavior?

[2018-11-30 09:39] diversemix commented on #859
If you are happy @thewilkybarkid I'll close this

[2018-11-30 09:44] diversemix commented on #1112
I certainly had a green tick when it was still running. I'll keep an eye on it and see. I'll stop posting on here and raise another issue if there is one ;)

[2018-11-30 09:44] #859 closed

[2018-11-30 09:45] giorgiosironi commented on #861
Perhaps stating the obvious, but the redirect should be to:
[code]
For `staging`, in case they have one:
[code]

[2018-11-30 10:09] damnhipster commented on #1064
I think it comes under 'Closed under error', given that the work to "fix uploading manuscripts on review environments" still had to be done which I hadn't realised at the time, regardless of whether they're on Jenkins or Gitlab.

[2018-11-30 10:12] diversemix commented on #1073
Investigation complete - implementation #419

[2018-11-30 10:12] #1073 closed

[2018-11-30 10:32] chugginselifesciences opened #1138 "Empty dashboard tab/list updates"
**2 updates**

1.  Increase space between "You currently have no active submissions" and "You may want to bookmark this page to easily retrieve your in progress submissions" in empty submissions tab.

2. Change Archived tab text to "You currently have no archived submissions"

**Screenshots**

1. Current:
![image](https://user-images.githubusercontent.com/41907215/49282415-09fae500-f487-11e8-997c-

[2018-11-30 10:33] chugginselifesciences opened #1139 "serif fonts appearing in many incorrect places"
**Screenshots**

Person pods
![image](https://user-images.githubusercontent.com/41907215/49283224-1f710e80-f489-11e8-894d-8e073294e2c9.png)

![image](https://user-images.githubusercontent.com/41907215/49283233-25ff8600-f489-11e8-9db1-12ce702ca3bd.png)

Upload drop target
![image](https://user-images.githubusercontent.com/41907215/49283387-842c6900-f489-11e8-8498-8d458b6e2ce7.png)

Modal:

![image]

[2018-11-30 10:50] hdrury1 opened #1140 "Option to only exclude 1 Senior Editor"
**Describe the bug**
A user can currently select two Senior editors to exclude. They should only be able to select one.

**Steps To Reproduce**
Navigate to the Editors step of the wizard
Choose to exclude a Senior editor
Open the People Picker
See that you are able to select two editors

**Expected behavior**
A user should only be able to make one selection

[2018-11-30 10:52] hdrury1 commented on #1122
@chugginselifesciences has documented where Noto Serif is currently being used where it shouldn't be:

**Screenshots**

Person pods
![image](https://user-images.githubusercontent.com/41907215/49283224-1f710e80-f489-11e8-894d-8e073294e2c9.png)

![image](https://user-images.githubusercontent.com/41907215/49283233-25ff8600-f489-11e8-9db1-12ce702ca3bd.png)

Upload drop target
![image](https://user-ima

[2018-11-30 10:53] hdrury1 commented on #1139
Captured in #1122

[2018-11-30 10:53] #1139 closed

[2018-11-30 11:05] diversemix commented on #860
No longer a separate issue see: https://github.com/elifesciences/builder/pull/430

[2018-11-30 11:05] #860 closed

[2018-11-30 11:05] chugginselifesciences opened #1141 "Change people picker headings from "Choose" to "Suggest" when suggesting and "Exlude" when excluding"
The term "choose" may be confusing while authors make suggestions for Senior and Reviewing Editors via the people picker. We should continue using the term "Suggest" instead of "Choose" so that users are clear that it is a suggestion, not a definite selection.

![image](https://user-images.githubusercontent.com/41907215/49284315-1e8dac00-f48c-11e8-8b71-0dd12fcee66a.png)

Exclude a Senior Editor (c

[2018-11-30 11:29] diversemix commented on #1110
Needs to be done for tracking issues like #1057

[2018-11-30 11:51] hdrury1 commented on #1141
Also worth updating the labelling at this point to 'Senior Editor' and 'Reviewing Editor' (capitalised).

[2018-11-30 12:14] #839 closed

[2018-11-30 12:18] jyenes commented on #1004
there is an outstanding issue on ProseMirror that produces this behaviour
(https://github.com/ProseMirror/prosemirror/issues/651)

I have submitted a issue on pubsweet (https://gitlab.coko.foundation/pubsweet/pubsweet/issues/430)

[2018-11-30 12:30] jyenes commented on #1004
I have submitted a MR to pubsweet

https://gitlab.coko.foundation/pubsweet/pubsweet/merge_requests/458

[2018-11-30 12:53] hdrury1 commented on #1004
I'm going to block this, pending the PubSweet merge and release.

[2018-11-30 12:54] #1023 closed

[2018-11-30 13:01] diversemix commented on #724
After adding the screenshot ... I had a bit of a gander and found that there is a `width: 100%` style that is making this effect. Seems that the 100% in this case is taken as the size of the screen!

[2018-11-30 13:05] diversemix commented on #1064
I'm confused ... I thought we removed CI ?

[2018-11-30 13:54] damnhipster commented on #1064
We removed the CI environment since it was only responsible for running some smoke tests and making sure the app started up successfully. The e2e environment gives us that coverage already, so getting rid of it means one less environment to maintain.

The CI config still gets used by the review environments spun up using Helm. We can look at renaming things to `review` to make it clearer.

[2018-11-30 14:28] diversemix opened #1144 "Submission Confirmation Hangs"
This is now happening as the MECA export can take sometime to query the eLife API and do the export to S3. The fix should be to not `await` for this in the server but to return immediately.

Check that if you go straight to the dashboard from the Thank You page the submission appears to the user in the "Submitted" state.

[2018-11-30 14:33] diversemix opened #1145 "Validate Manuscript State on every page"
@chugginselifesciences (bless him!) has found that you can click back several times after submitting.

This means that your in an invalid state. Would be good if every page had a validation check for the state of the manuscript and redirected to the dashboard if this was invalid.

[2018-11-30 14:42] chugginselifesciences opened #1146 "Thank you page - Vertically center content in same way as login pages (and increase space above button)"
**Describe the bug**
Content of the thank you page should center vertically, similarly to the login pages. Ideally would also double the space before the button.

**Steps To Reproduce**
Complete a submission

**Screenshots**

Current:

![image](https://user-images.githubusercontent.com/41907215/49295206-2873d700-f4ad-11e8-9fb0-0efcbd2be9a2.png)

Intended:

![image](https://user-images.githubuserco

[2018-11-30 14:58] diversemix opened #1148 "Remove Footer"
Chris has asked to remove the footer.

The information is in the header in production builds so I'm happy to do this.

[2018-12-03 08:15] giorgiosironi commented on #1064
If it helps, the process is to add the `review` config; deploy; switch the chart to use `review`; remove `ci` config.

[2018-12-03 10:11] #1141 closed

[2018-12-03 10:41] damnhipster opened #1153 "Rename CI config to review"
## Problem / Motivation
We have removed the CI environment since it was only responsible for running some smoke tests and making sure the app started up successfully. The e2e environment gives us that coverage already, so getting rid of CI means one less environment to maintain.

The CI config still gets used by the review environments. We should rename things to review to make it clearer.

## Pro

[2018-12-03 10:41] damnhipster commented on #1064
Captured remaining work in #1153

[2018-12-03 10:41] #1064 closed

[2018-12-03 11:22] #1067 closed

[2018-12-03 14:50] hdrury1 opened #1155 "Dropzone border should be dashed before upload"
The border of the dropzone molecule should be 2px dashed UNTIL a user cannot upload a file (i.e. if one is being uploaded or the upload has been successful) at which point it should be solid.

See https://app.zeplin.io/project/5bacf042615a8b6e20e84a5f/screen/5bc0cddba55ed15fd3fb38ac for designs.

[2018-12-03 14:54] hdrury1 opened #1156 "Space between text and buttons in modal should be increased"
The space between text and buttons in the modal component should be increased to 48px.

<img width="848" alt="screen shot 2018-12-03 at 14 53 50" src="https://user-images.githubusercontent.com/17023702/49381197-4a6a9500-f70b-11e8-90e7-77c7a32f72cb.png">

[2018-12-03 14:55] hdrury1 opened #1157 "Add pointer and hover state to trash icon"
The trash icon on DashboardListItem should have a pointer cursor and change to colourPrimary when hovered over.

[2018-12-03 15:45] hdrury1 opened #1158 "Uploaded file name not appearing on navigating forwards and back"
**Describe the bug**
The name of the uploaded file is not appearing in the dropzone molecule if you navigate forwards and then backwards in the wizard.

**Steps To Reproduce**
1. Navigate to Staging
2. On the files step, upload a manuscript
3. Observe the filename is shown along with success message
4. Click 'Next'
5. Click 'Back'
6. Filename is now longer shown

**Expected behavior**
Filename sho

[2018-12-04 10:38] #1148 closed

[2018-12-04 12:57] diversemix opened #1160 "Notifications should only show when at or above 10"
Notifications should only show when number of files at or above 10.

[2018-12-04 12:59] diversemix opened #1161 "Add a header to the list of files."
Header should appear after one supporting file is uploaded.

//cc @hdrury1 Screenshot

[2018-12-04 12:59] hdrury1 commented on #1161
<img width="942" alt="screen shot 2018-12-04 at 12 53 30" src="https://user-images.githubusercontent.com/17023702/49443463-6e3de180-f7c4-11e8-9f32-7abb69a76d14.png">

[2018-12-04 13:00] diversemix opened #1162 "Autosave feature broken"
When uploading a supporting file the autosave does not work. See discussion in agenda 4/12/2018

https://docs.google.com/document/d/1IEYlmkzyBmxEFhn8U0kM8F5cl5OO-2jEpJmVV4VGZus/edit

[2018-12-04 13:01] diversemix opened #1163 "Tests for Supporting files"
Add browser tests for the supporting file uploads

[2018-12-04 13:02] diversemix opened #1164 "MECA support for supporting files"
Change the `article.xml` and the MECA package to contain supporting files.

- [x] Update the manifest.xml to contain references to the files #1274
- [x] Update the zip to contain the files #1275
- [ ] Store the mimetype when uploading

[2018-12-04 13:06] diversemix opened #1165 ""Add" & "remove all" missing for supporting files"
Make sure it works (basic) on mobile... and add the footer containing "Add support files" and  "Removal all"

[2018-12-04 15:35] giorgiosironi commented on #939
Styleguide uses the [Docker image of the project](https://github.com/elifesciences/elife-xpub/blob/develop/.gitlab-ci.yml#L132), but needs to credentials to be passed in, in some way.

[2018-12-05 08:56] diversemix commented on #998
I've attempted to use a config something like this:
[code]
Either we get a change to pubsweet or to the deployment. I'm going for the latter for now.

[2018-12-05 09:44] diversemix commented on #890
@giorgiosironi ... I've put in PR (https://github.com/elifesciences/elife-xpub/pull/1167/files ) that will see email being configured with the following env vars:
[code]

[2018-12-05 09:59] diversemix commented on #998
Left a message with pubsweet ...

[2018-12-05 11:01] damnhipster opened #1169 "Prefetch queries on new submission"
As part of #1073 we discovered that components were rendering several times more than was necessary. Components are expected to render once or twice, but we were seeing bottlenecks where 6 renders occurred.

One of the reasons for this re-rendering is that queries are being made within parent components and the responses are passed down as props to child components which are yet to be mounted, suc

[2018-12-05 13:05] giorgiosironi commented on #862
https://github.com/elifesciences/builder-configuration/pull/20 is ready for this whenever it needs to be done.

[2018-12-05 13:33] giorgiosironi commented on #1148
Still doesn't mean that we could do without https://github.com/elifesciences/elife-xpub/blob/develop/Dockerfile#L45

[2018-12-05 13:39] #998 closed

[2018-12-05 14:01] giorgiosironi commented on #939
https://github.com/elifesciences/elife-xpub/pull/1168 ready for review.

[2018-12-05 15:13] giorgiosironi commented on #36
Close as superseded?

[2018-12-05 15:13] giorgiosironi commented on #104
Close as superseded? Both `test:browser` and `elife-spectrum` in `end2end` cover this now.

[2018-12-05 15:32] giorgiosironi opened #1171 "End2end test for EJP integration"
## Problem / Motivation

- WHO wants this? Product managers and developers
- WHEN and WHERE do they want it? As an automated test to be executed in the `end2end` environment
- WHAT do they want? An automated test checking the successful delivery to EJP of the initial submission
- WHY do they want this? To have fewer headaches when deploying a change in a real environment like `prod`

---

## Tasks

[2018-12-05 15:56] #36 closed

[2018-12-05 15:56] #104 closed

[2018-12-05 16:30] giorgiosironi commented on #939
https://github.com/elifesciences/elife-xpub/pull/1172 is the follow up for `develop`.

[2018-12-06 15:34] #939 closed

[2018-12-07 11:14] #1100 closed

[2018-12-07 11:14] #1113 closed

[2018-12-07 11:17] damnhipster commented on #903
@giorgiosironi Can this be closed?

[2018-12-07 11:19] damnhipster opened #1174 "Reduce the size of the YLD cluster"
Off the back of #1113, the cluster can now be reduced to save on costs.

- [x] reduce the number of nodes from 9 to 2
- [x] monitor the CPU and memory usage and make sure the resources are adequate

[2018-12-07 11:20] #1174 closed

[2018-12-07 11:20] damnhipster commented on #1174
Done

[2018-12-07 13:52] giorgiosironi commented on #903
Jenkins does this in https://alfred.elifesciences.org/job/process/job/process-clean-xpub-environments/ whereas Gitlab is being retired. Let's close.

[2018-12-07 13:52] #903 closed

[2018-12-07 14:33] Cooryd opened #1175 "Subscription to manuscript upload progress maintains when submission deleted"
**Describe the bug**

Subscription to manuscript upload progress maintains when submission is deleted and a new submission is created.

**Steps To Reproduce**

- Create a new submission
- Get to the manuscript upload step
- Upload a large manuscript
- While in progress go back to the dashboard
- Delete the submission you have just created
- Create a new submission
-Get to the manuscript upload ste

[2018-12-07 16:49] #1129 closed

[2018-12-10 11:37] #1138 closed

[2018-12-10 12:54] diversemix commented on #1162
TODO: Add a `lastUpdated` check against `this` and the return of `this.$query()` in the `save()` of a `Manuscript` and throw an error if the two are not equal (version conflict)

[2018-12-10 12:58] diversemix opened #1180 "Manuscript Refresh"
Quick fix for #1162

Depends on #1087

[2018-12-10 13:47] diversemix commented on #1162
Seems like `objection` does have a `patchAndFetchById` option which is used in the `base_model`

(see https://gitlab.coko.foundation/pubsweet/pubsweet/blob/master/packages/base-model/src/index.js#L111)

[2018-12-10 14:09] damnhipster commented on #419
### Background

Off the back of #419, we decided to put `react-window` in place to improve the performance of the people picker when you have

### Behaviour of `react-window`
`react-window` doesn't give us flexibility to use window scrolling to control rendering, and instead creates a new scrollable component. It also doesn't allow you to add a header or footer onto the scrollable component, so it

[2018-12-10 16:59] #1158 closed

[2018-12-10 17:11] diversemix commented on #1162
I have raised 2 MR for pubsweet to handle this:
To ensure `updated` is set on an object when it is created:
- https://gitlab.coko.foundation/pubsweet/pubsweet/merge_requests/463

To protect the `save()` from overwriting data:
- https://gitlab.coko.foundation/pubsweet/pubsweet/merge_requests/464

[2018-12-10 17:40] diversemix opened #1182 "Manuscript Title get overwritten"
After sciencebeam runs - we overwrite the the title (so if it fails it gets set to blank). Even though it contains data.

Reproduce by uploading a large PDF and go and add the manuscript title. You can see that it gets autosaved. However when the file finishes uploading it blanks out the title.

[2018-12-10 17:41] diversemix commented on #1182
/cc @GiancarloFusiello @hdrury1  ... this might be a Product Question. If an author uploads a manuscript (or reuploads) should sciencebeam be allowed to overwrite what is in the manuscript title if its not blank?

[2018-12-10 17:42] diversemix commented on #1182
ooops! ... I meant @gmaciocci  - sorry Giancarlo

[2018-12-11 09:25] diversemix commented on #1182
@chugginselifesciences Says that we should have validation text on the wizard page that says something like "File(s) still uploading" when a user tries and clicks next.

[2018-12-11 09:58] chugginselifesciences commented on #1182
I think instead of mocking anything up it would be good to see if we can try showing validation text under the file upload drop target if a user presses next during the file upload process. Once uploaded the validation text should be removed. Users should not be able to continue to the next step of the wizard when a file is still uploading. Validation text of "File upload in progress" would make s

[2018-12-11 13:07] #1160 closed

[2018-12-11 15:52] damnhipster opened #1186 "Upgrade Pubsweet"
Pubsweet has released a new version of `@pubsweet/ui-toolkit` which contains an upgraded `styled-components` which has breaking changes.

[Changelog](https://gitlab.coko.foundation/pubsweet/pubsweet/blob/master/packages/ui-toolkit/CHANGELOG.md)

Currently, adding new dependencies to the project has the effect of using this new version and introduces breaking changes without us being aware.

[2018-12-11 17:09] damnhipster commented on #1186
Upgrading `@pubsweet/ui-toolkit` requires upgrading all of Pubsweet to 2.0.

This change would upgrade the `styled-components` dependency to 4.1.

This version of styled-components is incompatible with `grid-styled` 5.0 and causes the page to error. [`grid-styled` has been updated to use the new version](https://github.com/rebassjs/grid/blob/master/package.json#L48) but it's only available from 6.

[2018-12-12 10:22] damnhipster opened #1189 "Lock Pubsweet to 1.2"
The project currently doesn't work with Pubsweet 2.0. When a dependency gets added to the project, yarn tries to upgrade some Pubsweet dependencies to 2.0, even though it doesn't need to.

This is due to the way pubsweet bumps versions for all packages at once, even if only a single package gets updated.

We should lock down to Pubwseet 1.2 which is currently in use.

[2018-12-12 11:00] giorgiosironi commented on #890
Confirmed that `end2end` does not have a Postfix deployed. Need to check that the configuration of the application matches, not sending emails anywhere.

[2018-12-12 11:11] diversemix opened #1190 "Sciencebeam update"
Pin the version of sciencebeam to `0.0.1` for xpub Release

see: https://elifesciences.slack.com/archives/C6LKMFK5Z/p1544610334002800

[2018-12-12 14:40] giorgiosironi commented on #890
Configuration is by default `localhost:25`, which will break on `end2end` if you try to send an email; this is not perfect but safe enough.

[2018-12-12 14:46] giorgiosironi commented on #890
Leaving `staging` with a real email server to aid testing, Product can decide later to switch to a fake one.

[2018-12-12 15:00] diversemix commented on #1163
Also begun some refactoring that gets us closer to #1086

[2018-12-12 15:02] diversemix opened #1192 "Add Auth to mail config"
See discussion: https://elifesciences.slack.com/archives/C6LKMFK5Z/p1544625931021100

Need to add username / password to the mail config in `mailer.js`

[2018-12-12 15:09] giorgiosironi commented on #890
Waiting on https://github.com/elifesciences/elife-xpub/issues/1192 for the switch from Postfix+SES to just SES through SMTP.

[2018-12-12 15:23] chugginselifesciences opened #1194 "Multiple file upload improvements (post MVP?)"
A list of suggested improvements to multiple file upload in the initial submission wizard.

**Initial design work here:**

desktop: https://invis.io/DWOHZU3QCTX and
mobile: https://invis.io/T2ODLC0RG3Q

- [ ] show validation text when pressing "next" while files are uploading (see below)

- [x] #1197 Show a "Supporting files" header above the list of files (replace "add supporting files" link

- [

[2018-12-12 17:40] hdrury1 opened #1196 "Max 10 supporting files text should show before upload complete"
**Describe the bug**
Currently, the 'Maximum 10 supporting files' validation text only appears once 10 files have completed uploading.

**Steps To Reproduce**
Upload 10 supporting files.
While the upload is completing, observe no validation message.

**Expected behavior**
The validation text should appear as soon as the 10 file limit has been reached, even if upload is still in progress. This will

[2018-12-12 17:42] hdrury1 opened #1197 "Add header to supporting files section"
We should provide a context header to the supporting files section, which should appear as soon as a user has chosen one or more supporting files to upload.

NotoSans, 14px, colorTextSecondary

<img width="503" alt="screen shot 2018-12-12 at 09 42 29" src="https://user-images.githubusercontent.com/17023702/49887854-57873280-fe35-11e8-9320-5521db1ba87c.png">

[2018-12-12 18:22] hdrury1 opened #1198 "Investigate: Title extraction working intermitently"
**Describe the bug**
I am only getting the title extracted around 50% of the time I upload a manuscript. Often, extraction will work if I navigate back to the Files step and re-upload the same manuscript file.

**Steps To Reproduce**
Difficult to reproduce, as the failure is intermitent. Keeping this bug ticket as a placeholder- will test extensively and copy terminal logs.

**Expected behavior**

[2018-12-13 09:37] giorgiosironi commented on #1018
For reference, looks like node 10 is causing issues in tests (still unclear why):
https://alfred.elifesciences.org/job/test-elife-xpub-source-repository/59/consoleFull
[code]

[2018-12-13 09:42] giorgiosironi opened #1199 "Automate rebuilding of the base image"
The base image is time saving as every new version of `elifesciences/elife-xpub` only has to rebuild the application-specific stuff rather than starting from scratch from a `node` image. It originally comes from https://gitlab.coko.foundation/yld/xpub-deployment-config-postgres/blob/master/images/xpub-base/Dockerfile but if all the relevant Dockerfiles are committed with special names into the rep

[2018-12-13 10:21] giorgiosironi commented on #1199
Notice also the `base` image is currently huge (858 MB) because it contains a Yarn cache, can take the opportunity to look for ways to both have quick builds and at the same time shrink its size which also results in faster pushes and pulls.

[2018-12-13 10:34] damnhipster commented on #1199
We can also shave off 300mb if we use `node:8-alpine` rather than `node:8`

[2018-12-13 11:22] damnhipster opened #1202 "Move base docker image to different repository"
The docker repository for the base image is `xpub/xpub`, hosted by Dockerhub [here](https://hub.docker.com/r/xpub/xpub/)

This repository is also used by https://gitlab.coko.foundation/xpub/xpub. We should host our base image in a separate repository.

[2018-12-13 11:32] giorgiosironi commented on #1202
We have a [few](https://github.com/elifesciences/elife-base-images) related to different programming languages, it will be something like `elifesciences/*`.

[2018-12-13 11:42] giorgiosironi commented on #1199
Though it needs to be tested that dependencies like the headless browser or any NPM package work in that environment

[2018-12-13 11:44] damnhipster commented on #1018
We most likely need to update the `replay` dependency.

[2018-12-13 11:50] damnhipster commented on #1202
We should also take this opportunity to change the tagging convention from a timestamp format (`20180101-1200`) to the commit SHA from the repo.

[2018-12-13 11:54] damnhipster commented on #1199
We'll also have to include git and maybe some other basic packages.

[2018-12-13 12:31] #1192 closed

[2018-12-14 11:14] giorgiosironi commented on #890
Everything is in place, how do we test the application sending an email?

[2018-12-14 11:16] giorgiosironi commented on #1190
Reference: https://github.com/elifesciences/elife-xpub-deployment/blob/develop/.env#L3

[2018-12-14 11:21] hdrury1 commented on #1032
Closing as this has been fixed.

[2018-12-14 11:21] #1032 closed

[2018-12-14 11:25] diversemix opened #1205 "Share code with PubSweet on BaseModel"
In the `manuscript` model when doing a `save()` we do similar checks to that in the base model - see !464 ... this code is not shared because we override `save`

Would be good to see if we can find a way to reuse this code at some point.

[2018-12-14 15:07] giorgiosironi commented on #199
A few things have changed in this area: we are now using AWS SES directly through SMTP. Possible errors are lack of connectivity and quota being reached; but it's a managed service that should always be up so it's a low priority to deal with failures there.

[2018-12-14 15:07] giorgiosironi commented on #110
This looks outdated, close? We are using AWS SES.

[2018-12-14 15:15] giorgiosironi opened #1207 "Confirmation email to corresponding author possibly sent multiple times"
**Describe the bug**
Every (auto) saving of the manuscript seems to send a new email to the address entered in the first step of the initial submission.

**Steps To Reproduce**
1. Start an initial submission
2. Enter first name, last name, email address and institution
3. Wait a few seconds
4. Read the log line `info: Sent confirmation email to corresponding author: g.sironi@elifesciences.org` wri

[2018-12-14 15:23] chugginselifesciences opened #1208 "Update text content in empty archive tab"
We need to change "Archived placeholder view." text in the empty archive tab to "You currently have no archived submissions".

Current:

![image](https://user-images.githubusercontent.com/41907215/50011475-1ff2c480-ffb4-11e8-9503-d6b0eb8b9305.png)

Intended:

![image](https://user-images.githubusercontent.com/41907215/50011486-26813c00-ffb4-11e8-95df-66f3b850ebbd.png)

[2018-12-14 15:28] chugginselifesciences opened #1209 "Increase min height of dashboard list items container/move "can't find a submission" text lower"
The text `"Can’t find a submission? You might find it in our full peer review and submission system."` in both Submissions and Archive tabs is currently too high.

The position _should_ be defined by a min-height on the list items container (as the text sits below it). This min-height (or distance) should be changed to 400px to increase the space between the text and the "empty state" text if poss

[2018-12-14 15:38] chugginselifesciences opened #1211 "Update font of text in empty dashboard tabs"
Please update the following lines of text in the dashboard to `font-family = "Noto Sans regular"`, `font-size = 12px` and `font-weight = 400`.

In submissions tab:

and in both tabs:

**Please also check that the `"You currently have no active/archived submissions"` text is in regular font/400 as it looks semibold/too heavy.**

![image](https://user-images.githubusercontent.com/41907215/50012141-c

[2018-12-14 16:34] chugginselifesciences opened #1212 "Updates to the "2 more suggestions required" / "Max 6 suggestions" type text in the people picker"
Can we change the position, content and hiding behaviour of the text used to help authors select the correct number of editors when suggesting or excluding senior or reviewing editors?

**To avoid:**

Currently it causes
names/keywords/selectItems to stack in a narrow column and makes text wrap.
![image](https://user-images.githubusercontent.com/41907215/50015153-bd9ec180-ffbd-11e8-9f9a-1c685e9af1

[2018-12-14 16:37] chugginselifesciences commented on #104
@hdrury is there anything I should be looking at here? It's in awaiting design review.

I created a new submission and entered "editors" at the end of the URL, and it jumped to the Editors step of the submission wizard even though earlier steps were not complete. So I assume this isn't working correctly?

I see it was moved by automation so are there other tickets for this? Can it be ignored and m

[2018-12-14 17:33] giorgiosironi commented on #890
Finally tested this in [`staging`](https://staging--xpub.elifesciences.org/submit/7a3ca5a2-c9c9-423a-a19b-35eae6df1ceb/submission); got sent too many emails but the setup is definitely working.

[2018-12-14 17:35] giorgiosironi commented on #890
Text of the email:
[code]

That `localhost` may need some update.

[2018-12-17 08:18] hdrury1 commented on #104
Hi @chugginselifesciences apologies for the confusion. By default all closed tickets move to the awaiting design review column and from there I should manually move into done if your eyes aren’t needed. I missed this one- it can go into done!

[2018-12-17 08:21] #110 closed

[2018-12-17 09:30] chugginselifesciences commented on #104
No problem at all. Just thought I'd better check that if something's not right we've got it covered in a ticket somewhere else before I moved it to done?

In a quick test I managed to jump ahead in the submission process via the URL when I think it should redirect to the last active or completed step?

[2018-12-17 10:31] giorgiosironi commented on #1207
The email infrastructure has been fixed in #890, so now actual multiple emails continue to go out:
![8a6a39e3-f979-4188-9dce-ba9727f82737](https://user-images.githubusercontent.com/160299/50081629-df2ec180-01e6-11e9-860c-51b6eed9fa2c.png)

[2018-12-17 10:31] giorgiosironi commented on #1162
Not sure if related: https://github.com/elifesciences/elife-xpub/issues/1207

[2018-12-17 10:53] hdrury1 commented on #1198
Uploaded the following file:

[elife-40583-v2.pdf](https://github.com/elifesciences/elife-xpub/files/2685648/elife-40583-v2.pdf)

The application gave me a success message, but navigating to the next page the title had not extracted. I navigated back and re-uploaded the same file. This time the title appeared on the next page of the wizard as expected.

[2018-12-17 14:30] hdrury1 opened #1216 "Add supporting files to example MECA package"
We should produce an example package with supporting files included to inform eJP integration.

[2018-12-17 16:49] jyenes commented on #1031
I was debugging and I found out that the issue can be coming from profiles API, hitting this url
`https://prod--gateway.elifesciences.org/profiles/ewwboc7m`
we get
[code]

I also created my own user on ORCID, but I was unable to find my profile on the profiles API, my ORCID id is `0000-0003-1077-7932`

[2018-12-17 16:54] giorgiosironi commented on #1031
Possibilities:

- the user has non-public fields (on ORCID you can select to make it private to only yourself, private to trusted applications, or public). At least the university seems to be there, email address is unclear.
- the webhook that updates this profile (ORCID delivering it to profiles) is not working or being refused

[2018-12-17 17:10] giorgiosironi commented on #1031
I think me and @GiancarloFusiello can take a look at the `profiles` side tomorrow.

[2018-12-17 17:14] jyenes commented on #1031
I checked and my profile in ORCID is public, so should be the second option

![screenshot 2018-12-17 at 17 10 11](https://user-images.githubusercontent.com/5822727/50103210-0acd9e00-021f-11e9-8b8a-743859f33513.png)

[2018-12-18 09:01] giorgiosironi commented on #890
Had to disable this because https://github.com/elifesciences/elife-xpub/issues/1207 is sending dozens of emails per submission.

[2018-12-18 09:43] diversemix commented on #1162
This was closed in error - as the issue is now logged - but not actually fixed. When the exception was thrown this caused the browser tests to fail on occasion. Now it just logs the error - we need further investigation to ensure this is properly fixed.
/cc @hdrury1

[2018-12-18 09:48] diversemix commented on #1207
@giorgiosironi Thanks for the detailed report - @hdrury1 - can we move this to the top of the list

[2018-12-18 10:32] hdrury1 opened #1218 "Premature validation on editors step"
**Describe the bug**
Untouched fields are showing up as invalid on the editors step.

**Steps To Reproduce**
1. Navigate to editors step
2. Select Senior editors to include using peple picker
3. Add Senior editors (closing people picker)
4. Observe that untouched fields are invalidated

**Expected behavior**
Untouched fields should not be validated against until they are focussed on for the first

[2018-12-18 11:34] hdrury1 commented on #448
Closing due to duplicated ticket

[2018-12-18 11:34] #448 closed

[2018-12-18 13:07] diversemix commented on #1057
Two things:
1. Send email to editorial team on EXPORT_SUCCESS - in the short term so they can check. Longer term we need a job queue and to poll for a timeout for 24 hours to go to failure state.
2. We need to test eJP sends us a failure when they fail.

[2018-12-18 13:16] diversemix commented on #977
Possibly depending on #1122

[2018-12-18 13:16] diversemix commented on #1211
Possibly depending on #1122

[2018-12-18 14:00] GiancarloFusiello commented on #1031
I have created a new ORCID account and can confirm that the ORCID api is not sending emails or affiliations:
[code]
Do we have a point of contact?

[2018-12-18 14:05] #890 closed

[2018-12-18 14:15] giorgiosironi commented on #1031
What is your visibility settings for these? There should be 3 (public/trusted/private) available, to be checked first. Also I'm not sure if there are subresources to load or if everything should be in a single API call?
/cc @thewilkybarkid who worked on this

[2018-12-18 14:33] GiancarloFusiello commented on #1031
Yes it seems each piece of information in your profile has it's own permissions. So even if you set your profile to Public, only the ORCID id and name are visible. I suspect most users do not realise that they have to set permissions for all fields.
[code]

[2018-12-18 14:37] GiancarloFusiello commented on #1031
I can also confirm that the profiles database has been updated since changing my permissions:
[code]

[2018-12-18 14:49] giorgiosironi commented on #1031
So we can't reproduce on a new user. There are other two cases to check from https://github.com/elifesciences/elife-xpub/issues/1031#issuecomment-447915022
- Tamlyn existing profile
- @jyenes own profile

[2018-12-18 15:59] diversemix opened #1220 "Create loading state for People Picker"
As a short term fix to the people picker performance issue - put up a loady spinny thing to indicate to the user that it might take some while.

Ideally we just show a centred spinner with “Loading”. If we have to show other elements of the modal we should center it in available space
The numbers show in order of preference 1 being most preferred

![image](https://user-images.githubusercontent.com

[2018-12-18 16:03] diversemix opened #1221 "Timeout for eJP result endpoint"
eJP has been prone to silently failing - we need to manage this.

- [ ] Add a job queue
- [ ] Add a check after 24 hrs after MECA_EXPORT_SUCCEEDED to mark it as failed.

[2018-12-18 16:04] diversemix opened #1222 "Confirm eJP sends failure to endpoint"
We have not , as yet, received a failure result on our meca result endpoint.

Check that eJP can send one.

[2018-12-18 16:15] GiancarloFusiello commented on #1031
After further investigation, I'm quite confident that the Profiles service is working as expected. Next steps:

- Add more logging that should make it easier/quicker to identify issues
- Verify that xpub is making authenticated requests to `https://prod--gateway.elifesciences.org/profiles/<id>` (otherwise only public information is returned)
- Verify that Tamlyn has set permissions on email addres

[2018-12-18 18:04] diversemix commented on #1031
@jyenes ... I suggest we create a test user we can all have to test. Maybe 'Albert Einstein' ... I think we should deprecate Tam :)

[2018-12-19 10:09] jyenes commented on #1031
I was checking `https://prod--gateway.elifesciences.org/profiles` but I still can't find my profile there, neither the Giancarlo one, I have noticed the total on the top has changed now is higher number

[2018-12-19 10:11] diversemix commented on #1056
Checked by re-exporting

[2018-12-19 10:11] #1056 closed

[2018-12-19 10:16] GiancarloFusiello commented on #1031
@jyenes how are you making the request? Can you paste the command you're using in full please?

[2018-12-19 10:33] jyenes commented on #1031
I'm just entering the url on the browser `https://prod--gateway.elifesciences.org/profiles`

I have also created a dummy user for test
credentials:
email: `albert@elife.com`
pass: `eLife12345!`
https://sandbox.orcid.org/0000-0003-2895-4626

and this one it also not appearing on the list

[2018-12-19 10:53] GiancarloFusiello commented on #1031
`/profiles` appears to be paginated by default. The default response is to show page 1 and limited to 20 results per page. Also, if you do not send an authentication token you will only receive public profiles. If you are looking for your profile, make sure it is set to be publicly visible and try incrementing the page query param. e.g `https://prod--gateway.elifesciences.org/profiles?page=1`.

[2018-12-19 10:54] #1080 closed

[2018-12-19 11:13] jyenes commented on #1031
is there anyway to add query?
like ` https://prod--gateway.elifesciences.org/profiles?orcid="0000-0003-2895-4626"`???

[2018-12-19 12:09] damnhipster opened #1224 "Mimetypes are null in the database"
As part of #1203, we identified that we're not saving the mimetypes of uploaded files correctly.

https://github.com/elifesciences/elife-xpub/pull/1203#discussion_r242607917

The impact of this is that we rely on the filename to know what kind of file it is, and this makes it difficult to open the files in the future.

[2018-12-19 12:15] damnhipster opened #1225 "Improve performance of people picker"
## Summary

The people picker takes a moderate amount of time to display all the people.

- [ ] reduce the amount of time the people picker is in a loading state

### Reproducing the problem

### Solutions

The agreed solution for this has been to implement lazy loading on large lists. You can find our reasoning below under **The reason it's slow**.

A few solutions have already been attempted:

1

[2018-12-19 12:19] damnhipster commented on #419
Performance is abysmal when running locally, but when building and running the app in production mode, the performance is better.

We've deemed that the performance is adequate. Further performance enhancements will be done in #1225. Our findings will be captured there.

[2018-12-19 15:51] damnhipster commented on #1186
`grid-styled` has been moved to `@rebass/grid`, which uses the updated version of `styled-components`. We should update to this.

[2018-12-19 17:16] diversemix commented on #1057
Closed as reimported fine

[2018-12-19 17:16] #1057 closed

[2018-12-20 12:06] giorgiosironi opened #1226 "Review environments broken by lack of support for pgcrypto extension"
Dependency of the pg-boss NPM package, a queuing system based on Postgres and introduced by Pubsweet at some point.

Can reproduce on review environments:
[code]

Options:

1. give the `test` user more permissions (to be understood how)
2. switch from the bitnami production-oriented `postgres` image to the default `postgres` one (somewhat easy, but may create other unknown problems)
3. move the se

[2018-12-20 14:35] diversemix commented on #1031
Further investigation with @jyenes + @GiancarloFusiello ...
- We confirmed a `Public` email is always accessible on the Profile's API, however we could not test the `Trusted` or `Private` one as we could not confirm the authentication was working as exected, see...
- Using `curl` ( `curl -vk -H "Authentication: ${ELIFE_API_GATEWAY_SECRET}" http://prod--gateway.elife.internal/profiles/j9tn67y4 | jq

[2018-12-20 14:38] giorgiosironi commented on #1226
Option 1 redux, is to remove the custom user altogether and use the default `postgres` one which has all the permissions we need.

[2018-12-20 14:39] giorgiosironi commented on #1226
Re-building https://github.com/elifesciences/elife-xpub/pull/1223 review environment to verify the fix.

[2018-12-20 14:39] thewilkybarkid commented on #1031
Ah, this will be https://github.com/elifesciences/issues/issues/4318.

[2018-12-20 14:42] giorgiosironi commented on #1226
http://35.172.178.78:30750/ is now working again.

[2018-12-20 14:42] #1226 closed

[2018-12-20 16:19] diversemix commented on #1216
Adding to... https://github.com/elifesciences/elife-xpub-meca

[2018-12-20 16:46] giorgiosironi opened #1228 "test:browser hanging"
e.g. https://alfred.elifesciences.org/blue/organizations/jenkins/pull-requests-projects%2Felife-xpub/detail/PR-1181/6/pipeline hangs apparently forever in the `test:browser` target until the build is killed after a 2 hours timeout.

Situation seems more or less normal:
[code]

Working on specifying a fixed `remote-debugging-port` to be able to access it from outside the container (requires a brows

[2018-12-20 16:47] giorgiosironi commented on #1228
Related (I think) error:
[code]

[2018-12-20 16:57] diversemix commented on #1228
Would it help if I tested overnight ... by putting the browser tests into an infinite loop of testing to see if they actually hang at some point - just to rule out the code base?

[2018-12-20 18:11] giorgiosironi commented on #1228
Yes, try it on your laptop, it may help us understand if the conditions that lead to this are only verified on EC2 or also locally.

[2018-12-21 14:52] GiancarloFusiello commented on #1031
https://github.com/elifesciences/issues/issues/4318 has now been merged and I can confirm that it is working as expected. In order to test, from within the elife VPC network, you can use the following command: `curl -s -H 'x-consumer-groups: view-restricted-profiles' http://prod--gateway.elife.internal/profiles/<id>` or externally use `curl -s -H 'Authorization: ${ELIFE_API_GATEWAY_SECRET}' -H 'x-

[2018-12-31 10:24] jyenes opened #1236 "Remove All supporting files not working"
regression issue, I was testing #1197 and I tried to remove all supporting files, a graphql error shown in the console

- [ ] browser test

[2018-12-31 11:15] jyenes commented on #1236
this is previously fixed by #1231

[2019-01-02 13:05] #1236 closed

[2019-01-03 06:47] #1197 closed

[2019-01-03 11:31] diversemix commented on #1228
Test here: #1239

[2019-01-03 11:47] chugginselifesciences commented on #1062
@hdrury1 - Hi Hannah. Apologies if already covered, but I'm wondering if this layout issue should be resolved before launch/moved to To Do? It is only an issue at larger screen widths so might not be a priority. 1920px would be a typical screen width and it isn't broken, but is very narrow.

Generally I find the way the content gets narrower while making the browser wider a bit concerning if it's

[2019-01-03 12:13] damnhipster commented on #1228
Test passes, which points us toward the following expectation

To narrow down the specific commit, I'll start introducing the subsequent changes after the commit to narrow down the problematic change.

### Binary search results:

#1235
#1231
#1232
#1223
#1203
#1219
#1217
#1213
#1215

[2019-01-03 15:03] diversemix commented on #1228
#NOTES
- We've agreed that the issue will not get solved in the short term.
- We are raising an PR to remove `test:browser` from the pipeline.
- We are changing the template to remind reviewers to run `test:brower` locally on that branch.
- We are putting a meeting in the calendar to discuss solving this long-term for next week.

[2019-01-03 15:31] #1207 closed

[2019-01-03 15:34] #419 closed

[2019-01-03 16:01] #1128 closed

[2019-01-03 16:59] #1186 closed

[2019-01-03 17:07] SemraSh commented on #1220
### Checklist
[ ] Create a new component which has:
      [ ] ProgressBar
      [ ] `Loading... `text
[ ] Add loading state when the app is not ready to show certain results in People Picker

[2019-01-04 10:16] diversemix commented on #1228
Closed by mistake

[2019-01-04 10:35] diversemix commented on #1228
After putting the replay file for hotjar into the #1229 (at build #15 see link below) it appears to be working with one exception... build #16 hangs even when it is replayed ... so I'm unsure now about whether the 'fix' is really a 'fix'

https://alfred.elifesciences.org/blue/organizations/jenkins/pull-requests-projects%2Felife-xpub/activity?branch=PR-1229

[2019-01-04 10:49] SemraSh commented on #1220
_Agreed with @chugginselifesciences on the following design_
![image](https://user-images.githubusercontent.com/32770804/50684639-323dac80-100e-11e9-8aaf-ff9422a956d4.png)

[2019-01-04 11:36] damnhipster opened #1243 "Add manuscript state to AuditLog"
When a manuscript (in the `base-model`) has a State change - this should get logged into the database `audit_log` table. This includes manuscript create and delete.

- [x] Add a "setter" for `status` onto the `Manuscript` entity in `xpub-model`
- [x] Change everywhere to use the property setter and not directly change the variable.
- [x] Change the setter for `status` to create an `AuditLog`'s log

[2019-01-04 11:40] damnhipster opened #1244 "Disable updates and deletes on AuditLog"
We have an audit_log table within the database, which we write to when we want to record changes in state.

#1110 introduces a new model entity within the code for the AuditLog

- [ ] Update model and database table to be write-only, and disable updates and deletes on the xpub user

[2019-01-04 11:40] #1110 closed

[2019-01-04 11:41] damnhipster commented on #1110
Created #1243 and #1244 to capture the rest of the requirements.

[2019-01-04 11:47] diversemix commented on #1228
I seem unable to replay `Commit: 028fdee` which was successfully run as build #15 ... subsequent attempts all fail #16, #19, #22 ... although #17 does work - however that was started via the replay in the old Jenkins interface (not Blue Ocean)

[2019-01-04 12:16] diversemix opened #1246 "References to sciencebeam-texture.elifesciences.org"
We still reference to `sciencebeam-texture.elifesciences.org` which needs removing.

This became apparent when testing, replay generated the file:

[code]

Looking the repo, we have the following references:
[code]

We need to decide if we leave these in as part of the testing, or we mock these out completely.
[code]

This maybe another candidate as to why the pipeline sometimes hangs?

[2019-01-04 12:20] diversemix commented on #1228
I'm now pretty convinced that "replay" does not work for this pipeline. This is probably an issue in itself as it would be good to be able to rebuild an historic version of the application. Nonetheless I think we can probably re-instate the `test:browser` tests.

Bear in mind #1246 may cause hanging too as its a third party service we use in test.

[2019-01-07 09:57] hdrury1 commented on #1062
Hi @chugginselifesciences

General rule for prioritisation at this point is ‘will this issue stop a user from completing a submission’, hence why this one’s in the backlog. Happy to reconsider closer to launch though, once we’ve sorted the application breaking bugs 😊

[2019-01-07 10:15] damnhipster commented on #1243
Setter will get called when the instance property gets changed. [See the docs.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/set)

[code]

[2019-01-07 10:33] diversemix commented on #1031
I'm happy this is working now, there is still one small bug on the profile service (see https://github.com/elifesciences/issues/issues/3365). I will close this now, as this is not strictly dependant on the user tool going in ( see #1247 ) - but this tool has helped me pin point this issue.

[2019-01-07 10:33] #1031 closed

[2019-01-07 10:51] diversemix commented on #1222
Plan is to make a successful submission and check the success endpoint is called by watching the logs on the staging server. Then modify the meca package to make it invalid and see if that calls the failure end point.

[2019-01-07 11:01] diversemix commented on #1222
- Made the submission of `7cf5ab4a-d5c1-4cda-86be-8834d1f978ed`
- Got the success callback:
[code]

[2019-01-07 11:07] diversemix commented on #1222
On inspection of the data base the manuscript correctly had the status `MECA_IMPORT_SUCCEEDED`
 this was then changed to be `MECA_EXPORT_SUCCEEDED`... Now making an invalid package to manually copy to the FTP site.

[2019-01-07 11:19] diversemix commented on #1222
The `manifest.xml` was removed from the zip package - this looks like its not even attempted to be imported by eJP. Assuming that its not seen as a MECA package as its remaining in the root folder... going to rename the to begin with `aaaaaaaa` ... Will create another corrupt package by removing the `disclosure.pdf` file....

[2019-01-07 11:37] diversemix commented on #1222
Renamed to `abadabad-d5c1-4cda-86be-8834d1f978ed-meca` (missing `disclosure.pdf`)

This resulted in:
[code]
The error is expected - as that manuscript id does not exist in the database - however what was not expected with the `result=success` - The file ended up in the `Succeeded` folder on the FTP site.

/cc @hdrury1

[2019-01-07 11:41] diversemix commented on #1222
This also has ended up the the `Suceeded` folder and a success message was sent:
[code]

[2019-01-07 11:47] diversemix commented on #1222
Finally created a package `abadabad-abad-abad-86be-8834d1f978ed-meca` which has malformed xml in (missing the closing `</subject>` tag) .... This has ended up in the `Failed` folder - however **no callback was sent**

[2019-01-07 11:51] diversemix commented on #1222
Clara has been notified of the importer failing to send failure responses.

[2019-01-07 11:51] #1222 closed

[2019-01-07 12:50] diversemix opened #1248 "ELPP-3310: Remove None values from Profiles API responses"
see https://github.com/elifesciences/issues/issues/3365

[2019-01-07 14:17] damnhipster opened #1249 "Use setters in models instead of changing variables"
At the moment, we have the following methods being used to  update our models:

- functions like `updateStatus(newStatus)`
- setter functions, e.g. `set status(newStatus)`
- changing variables directly, e.g. `manuscript.status = newStatus`

When using these models, it's difficult to tell which method to use, and this can lead to bugs if the wrong method is used. It's preferable to use [setter func

[2019-01-07 14:18] damnhipster commented on #1243
Will be using an `updateStatus` function instead, as the `status` keyword is used as a property, which means we can't use `set status` since it's the same keyword.

Raised #1249 to address the issue.

[2019-01-07 14:19] damnhipster commented on #1249
@jyenes @diversemix Let me know what you think.

[2019-01-07 14:31] #1097 closed

[2019-01-07 14:32] #1088 closed

[2019-01-07 16:43] Cooryd opened #1253 "Create unit tests for xpub-controller classes"
#1203 refactored existing code by creating a new controller collection of files. The merging of this PR issue introduced some bugs which may have been captured by unit tests. Unit tests should be written for each of the classes found in `server/xpub-controller`

[2019-01-07 17:02] chugginselifesciences opened #1254 "Show validation/feedback for input fields where ORCID profile data import fails"
## Problem / Motivation

- WHO authors
- WHEN and WHERE when using "pre-fill my details using ORCID" in the initial submission wizard
- WHAT need feedback if it fails
- WHY so they understand what it didn't work and have the option to fix the issue

## Proposed solution

Validation on the field that links to either advice to fix, or directly to the settings that enable this/cause it to fail.

**Lo

[2019-01-07 17:07] chugginselifesciences commented on #1197
@hdrury1 @jyenes This looks like it is in 16px colorText not 14px colorTextScondary.

![image](https://user-images.githubusercontent.com/41907215/50781868-64653d80-129e-11e9-9718-776e368c4f0e.png)

[2019-01-07 17:10] giorgiosironi commented on #1228
Reopening also on the Cambridge Team board.

[2019-01-07 17:11] giorgiosironi commented on #1228
https://github.com/elifesciences/elife-xpub/pull/1251 is where the quarantined tests are being re-enabled.

[2019-01-07 17:37] #1026 closed

[2019-01-08 08:47] diversemix opened #1255 "Change all alerting emails to xpub-alerts@elifesciences.org"
There are now 2 new groups that you can join called:
- `xpub-alerts@elifesciences.org` - https://groups.google.com/a/elifesciences.org/forum/?hl=en#!forum/xpub-alerts
- `xpub-tech-alerts@elifesciences.org` - https://groups.google.com/a/elifesciences.org/forum/?hl=en#!forum/xpub-tech-alerts/new

All  alerts from the application should change to the `xpub-alerts` address, so people can (un)subscribe

[2019-01-08 08:51] giorgiosironi commented on #1255
The current New Relic Alert policies all go to `techalerts@elifesciences.org` (generic for all services):
https://alerts.newrelic.com/accounts/1451451/channels
Probably some custom policies are needed there that target only the xpub-related services and that notify to this new address.

[2019-01-08 08:53] giorgiosironi commented on #1255
I have created a test policy for myself targeting the Apdex of `elife-xpub--prod`:
https://alerts.newrelic.com/accounts/1451451/policies/372574
Seems straightforward, but we need to replicate the 5 policies tuning them for `elife-xpub--prod`. Should pair on this to diffuse knowledge of New Relic.

[2019-01-08 08:55] diversemix commented on #1255
Sounds great - let's catch up f2f ... the main motivation for this ticket is to ensure the right level of alerts go to the right people.

[2019-01-08 08:58] diversemix commented on #1248
Need to dockerize the `user-tool` so @GiancarloFusiello can use it in the Profile service API tests

[2019-01-08 10:21] diversemix opened #1257 "MECA Failure Modes Specification"
Write a specification for failure modes in different circumstances for Clara.

/cc @hdrury1

[2019-01-08 10:23] diversemix opened #1258 "Investigate no failure message from eJP"
We've not yet received one.
Malformed XML is the best way to try and get one.

[2019-01-08 10:27] diversemix opened #1259 "Investigate: Not all affiliations are shown on the person pod"
Where a person's affiliation(s) run over more than one line in Journal CMS, only the first line is being pulled into the Person Pod.

Journal CMS:

![screen shot 2019-01-08 at 11 08 27](https://user-images.githubusercontent.com/17023702/50827217-cde45b00-1335-11e9-8c58-1a646e0fb354.png)

xPub:

![screen shot 2019-01-08 at 11 09 20](https://user-images.githubusercontent.com/17023702/50827250-de94d1

[2019-01-08 10:30] diversemix opened #1260 "Sort Person Picker by last name"
(see https://elifesciences.slack.com/archives/C6MJK1RD4/p1546880321000500 )

[2019-01-08 10:37] diversemix commented on #1260
Do we want to do this given we want to be culturally agnostic and just store `name` in the future?

/cc @hdrury1 @acollings

[2019-01-08 10:44] diversemix opened #1261 "Remove Appendix from Cover Letter"
In the cover letter we still have an appendix with the comments for the opposed editors/reviewers. This should be removed.

(see https://elifesciences.slack.com/archives/C6MJK1RD4/p1546880380000800 )

[2019-01-08 10:47] diversemix opened #1262 "Update articleTypeMap to match eJP"
- Tools and Resources papers are currently being imported as full submissions
- Feature articles are currently being imported as expressions of concern.

The exporter is not giving the correct id for the article type.

( see https://elifesciences.slack.com/archives/C6MJK1RD4/p1546880683001100 )

Clara responded - https://elifesciences.slack.com/archives/CDAD612MT/p1545062132001100

Should be:

[co

[2019-01-08 10:49] acollings commented on #1260
I think we should be consistent with the journal site in the short term, https://elifesciences.org/about/people/biochemistry-chemical-biology, https://elifesciences.org/about/people/cancer-biology and so on. I also think we're a long way from being able to support "name" (given the importance of PubMed), so in the meantime, having an order that's recognisable would be very helpful.

[2019-01-08 11:50] chugginselifesciences commented on #1259
@hdrury1 @acollings Can we confirm the decision here is to show full affiliation in the modal (which may wrap onto more than 2 lines). See 2nd image

But we will only show the affiliation on a single line in the person pod. And in this case we would show the different aspects/lines of the affiliation with a comma separating them if there is room. See 1st image.

**Person pod**

![image](https://us

[2019-01-08 12:09] Cooryd commented on #1253
There are already some tests for the remove supporting files function found in the `xpub-server` directory, these should be moved across. (see #1263)

[2019-01-08 12:34] hdrury1 commented on #1259
@chugginselifesciences Yes, that seems like a sensible solution.

[2019-01-08 12:35] acollings commented on #1259
@chugginselifesciences sounds good. However, I wonder if there's something else going on with Howard Hughes Medical Institute, beyond truncation? For Sean Morrison, for example, the affiliation on xPub is Howard Hughes Medical Institute, but on the journal website (which is correct) it's Howard Hughes Medical Institute, University of Texas Southwestern Medical Center. xPub seems to be missing Univ

[2019-01-08 12:52] hdrury1 commented on #1259
@chugginselifesciences My understanding is that xPub is only pulling in the first line of any author's affiliation, so for those funded by HHMI, this is the only affiliation appearing.

Please note that I have now updated Journal CMS so that HHMI is the second affiliation listed- this way, their primary institution will always appear before the ellipsis in the  Person Pod.

[2019-01-08 13:13] hdrury1 opened #1265 "Update supporting files header to match design"
Current:

<img width="874" alt="screen shot 2019-01-08 at 13 12 05" src="https://user-images.githubusercontent.com/17023702/50832744-06406500-1347-11e9-9751-ed619e9a05a7.png">

Design:

![screen shot 2019-01-08 at 13 12 35](https://user-images.githubusercontent.com/17023702/50832795-2d973200-1347-11e9-897c-c2e83314d862.png)

[2019-01-08 13:14] hdrury1 commented on #1265
Please see the original issue #1197

Should be NotoSans, 14px, colorTextSecondary

[2019-01-08 14:22] hdrury1 commented on #1257
Import into eJP should fail if any of the following is missing from article.xml. This means there is potentially a problem with xPub exporter, as this information is required in the submission wizard:

- article_type
- keywords
- article-title
- author surname
- author given-names
- author email
- author affiliation

Import should also fail if any of the files listed in manifest.xml are not presen

[2019-01-08 14:38] diversemix opened #1266 "Setup and Check logging"
## Confirm that
- [ ] All logging statements use json.
- [ ] Date and time is logged.
- [ ] NTP is setup and configured on the hosts.
- [ ] Ensure the logs are correctly output and captured with loggly.
- [ ] Ensure all outbound and inbound request/response information is logged
  - [ ] AWS S3
  - [ ] postgres
  - [ ] sciencebeam
  - [ ] elife API
  - [ ] graphQL (although access logs may be enoug

[2019-01-08 14:48] diversemix opened #1267 "Server Hardening"
Just having a look through the logs in staging ... there seems to be times when we are getting probed by script kiddies. Might be worth installing `fail2ban` or equivalent. See attachment

[requests.txt](https://github.com/elifesciences/elife-xpub/files/2737216/requests.txt)

[2019-01-08 15:24] Cooryd commented on #1220
For future reference: https://reactjs.org/blog/2018/11/27/react-16-roadmap.html#react-16x-q2-2019-the-one-with-concurrent-mode

This would solve the issue of the app freezing up when attempting to render all of the `PersonPod` components at once. Scheduled for release in Q2 2019

[2019-01-08 16:16] diversemix commented on #1257
The only thing to add from a technical point of view is that if the import software fails in anyway then it must do best endeavour to send the failure message (for example handling exceptions to report failure)

[2019-01-08 16:21] diversemix commented on #1257
We've responded with this to Clara ... and are awaiting a response

[2019-01-08 16:56] #1248 closed

[2019-01-09 08:32] diversemix commented on #1257
Clara has responded - this needs more funding ... so is now a financial issue. Closing off... @hdrury1 should we create another ticket to track the progress and test the implementation of the failure modes?

/cc @BlueReZZ

[2019-01-09 08:32] #1257 closed

[2019-01-09 10:23] hdrury1 opened #1268 "Add filename to <title> tag in article.xml"
In order to populate the file title field in eJP, we will need to modify our export code to pull the filenames of any supporting files into article.xml prior to export.

See https://elifesciences.slack.com/archives/CDAD612MT/p1546969495017900

[2019-01-09 10:23] hdrury1 commented on #1268
From an end user point of view, this will enable staff/editors to see the following in eJP:

![image](https://user-images.githubusercontent.com/17023702/50893397-a7d3bf00-13f8-11e9-8c73-2b7a80115ca9.png)

[2019-01-09 11:07] diversemix commented on #1258
Replied to Clara: https://elifesciences.slack.com/archives/CDAD612MT/p1547031493025300

Awaiting response

[2019-01-09 11:29] #1258 closed, assigned to diversemix

[2019-01-09 13:15] #1261 closed

[2019-01-09 13:38] #1265 closed

[2019-01-09 13:51] #1220 closed

[2019-01-09 15:51] diversemix commented on #1092
Step 1 done as #1261

[2019-01-09 15:51] diversemix commented on #1268
Depends on #1164

[2019-01-10 09:33] diversemix commented on #1228
Closing this off - as we have done some work-rounds to put the tests back in... however the underlying problem is that of Testcafe

/cc @hdrury1

[2019-01-10 09:33] #1228 closed

[2019-01-10 10:43] hdrury1 commented on #1198
Uploaded the following file with the same results- title only extracting on second upload attempt:

[elife-39723-v2.pdf](https://github.com/elifesciences/elife-xpub/files/2744872/elife-39723-v2.pdf)

And this file wouldn't extract at all:

[elife-38852-v2.pdf](https://github.com/elifesciences/elife-xpub/files/2744871/elife-38852-v2.pdf)

[2019-01-10 11:47] hdrury1 commented on #1092
Happy that this has been tested.

[2019-01-10 11:47] #1092 closed

[2019-01-10 12:02] SemraSh commented on #1122
As discussed with Chris Huggins
` general rule should be “Is it a block of text that requires the author to read it?” If yes use Serif, if no, use sans. `

1. We use `noto serif` on the login/continue pages
![image](https://user-images.githubusercontent.com/32770804/50967179-4599bd80-14cf-11e9-8546-0f9240c16715.png)
2. The data disclosure page
![image](https://user-images.githubusercontent.com/327

[2019-01-10 12:06] SemraSh commented on #1122
The PeoplePicker.Buttons path doesn't exist anymore.
Discussed with @jsms90 :

The following link is the file, as it was _before_ Jen did the refactor that took the Buttons into a separate file.
https://github.com/elifesciences/elife-xpub/blob/be2612a794bb85eceae4be4b2c1570545724b2c3/app/components/ui/PeoplePicker/index.js

[2019-01-11 10:02] #1262 closed

[2019-01-11 11:31] diversemix commented on #1171
What is port 2222 for?

[2019-01-11 11:32] #1164 closed

[2019-01-11 11:34] diversemix commented on #1268
Done as part of #1164

/cc @hdrury1 - we should probably check this when #1164 gets deployed to staging,

[2019-01-11 11:34] #1268 closed

[2019-01-11 12:05] #1010 closed

[2019-01-11 12:05] #1024 closed

[2019-01-11 13:40] #1140 closed

[2019-01-11 14:09] #1196 closed

[2019-01-11 14:44] damnhipster opened #1283 "Fix mailer errors locally"
When filling out a submission locally, we get the following error in the server logs:

[code]

Emails should be disabled when running locally.

[2019-01-11 15:17] damnhipster opened #1284 "Manuscript upload doesn't show new file when replacing existing file"
**Steps to reproduce:**

*We've only managed to reproduce this on Peter's machine. It seems to cause/be caused by two manuscript sources in the database for that submission*

1. Start a new submission
2. Upload a manuscript file
3. Go back and replace the manuscript file with a different one
4. Go back to the upload page
5. The filename is still the first uploaded file

[2019-01-11 16:02] giorgiosironi commented on #1171
Port 22 is taken by the host SSH daemon, while the testing SFTP server binds to 2222 on the host (forwarded to 22 on that container).

[2019-01-11 16:42] damnhipster opened #1287 "Change sciencebeam config to not use real endpoint"
The app is configured to use [the real Sciencebeam API by default](https://github.com/elifesciences/elife-xpub/blob/develop/config/default.js#L121)

This is misleading as we currently host sciencebeam ourselves alongside xpub and use that instance instead of the real one.

- [ ] change default sciencebeam URL within `config/default.js` to refer to a local URL instead.
- [ ] update test config to u

[2019-01-11 16:45] damnhipster commented on #1284
We're unable to reproduce this consistently, and as it's only ever occurred on @diversemix local machine so far, this is being left in the backlog.

[2019-01-11 16:47] diversemix opened #1288 "Sciencebeam does not keep logs"
Unlike xPub ... sciencebeam does not have an option to log to a file so they can be stored outside of the container (mounted volume on host)... This means when the container dies the logs die too :(

Talked with Daniel about this and it should be straightforward for him to do at some point.

[2019-01-11 16:48] chugginselifesciences commented on #1060
@hdrury1 - I'm moving this into To Do as Cory mentioned it should be an easy fix. I think it's worth doing before launch.

[2019-01-11 16:49] diversemix commented on #1198
Adding logging into the app to try and figure out what is going on. Couldn't get things to fail locally - and we probably need some of this logging in when we go live to assess how sciencebeam is doing. see #1286

/cc @hdrury1

[2019-01-11 16:52] chugginselifesciences commented on #1049
@hdrury1 This is also another one that I think  _should_ be quick enough to do before launch... do you think we should move to To do?

[2019-01-11 16:58] de-code commented on #1288
Summoning @giorgiosironi - what is the best practice regarding container logs. I can easily add an option for ScienceBeam to log to a file / directory that is then mounted. Who is then responsible for keeping the logs for 30 days? The ScienceBeam logging config or another process that monitors the logging volume?

Do we need something like Loggly integration? Does ScienceBeam need to output it's l

[2019-01-11 17:38] giorgiosironi commented on #1288
`logrotate` on the host, assuming it's running on EC2 which is the only supported choice at the moment

It's also taken care at the host level by `syslog-ng`, which tails a file and uploads it.

[JSON Lines](http://jsonlines.org/) (simpler than it sounds) is ideal, because then the log aggregator can parse the lines and offer filters on the fields.

Shouldn't be there or of interest, syslog is usu

[2019-01-11 17:41] SemraSh commented on #724
First discovery :
The issue is with CSS, I've been looking to @rebass/grid if there are css tags used and not supported by IE11, some of the flex properties seem to have issues with IE11 previously.
The shorthand versions of flex definitions seems to have issues with IE11
[code]

[2019-01-14 09:07] giorgiosironi commented on #1267
We could probably block incorrect hostnames in nginx (allowing `localhost` and `[*--]xpub.elifesciences.org` only).

[2019-01-14 09:12] giorgiosironi commented on #1287
At this point sciencebeam should be added to the [pod definition for review environments](https://github.com/elifesciences/elife-xpub-formula/blob/master/helm/elife-xpub/templates/deployment.yaml#L44) so that they can continue using it.

[2019-01-14 09:17] diversemix opened #1289 "Spotting bug which will result in multiple emails being sent"
Fix the bug...

In `server/xpub-controller/manuscript.js` the value of `originalEmails` is not being set correctly.

[2019-01-14 09:30] diversemix opened #1290 "Add Tests to xpub-controller"
Primarily to cover testing of sending email.... this has not been done as part of #1289 as there is a wider question to answer in terms of the structure of the code. As such this will take time and so split into a separate task.

/cc @hdrury1

[2019-01-14 10:04] hem-brahmbhatt commented on #977
Resolved by #1122

[2019-01-14 10:04] #977 closed

[2019-01-14 11:38] #1289 closed

[2019-01-14 12:31] de-code commented on #1288
Could we spec a bit what the JSON should look like? e.g. what attributes?

And what logging we expect to see in there at the minimum (which may not currently be logged to the console).

[2019-01-14 12:37] giorgiosironi commented on #1288
There's no organization-wide logging standard but some fields are common:
- `datetime`: `2019-01-01T00:00:00+0000`
- `level` (`INFO`, `ERROR`, etc)
- `message` (arbitrary string)

[2019-01-14 13:48] hdrury1 commented on #1077
I now have a tracking code that will need adding before the close of every `<Head>` tag on every page of the application. Not sure how this will work technically with, for example, the People Picker which doesn't have its own URL.

[2019-01-14 13:55] hem-brahmbhatt commented on #1077
We'll want to implement Google Analytics to track pageviews using [this guide](https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications).
It's something we can tie into the router code of the application so the tracking happens automagically.

[2019-01-14 14:00] hem-brahmbhatt commented on #1077
We can hardcode some of the Google Analytics code as you said, on the `<head>` tag by editing [this file](https://github.com/elifesciences/elife-xpub/blob/develop/app/index-production.html). If there's a better way to dynamically load it, we'll try to use that solution, but this can be a fallback.

With the fallback, you can get everything except page/event tracking, so that includes:
- Time of in

[2019-01-14 14:01] hdrury1 commented on #1077
Maybe we can chat about this tomorrow. I'll add it to the agenda.

[2019-01-14 14:42] giorgiosironi commented on #1077
How do we distinguish between environments?

[2019-01-14 14:55] diversemix commented on #1198
We can reproduce the problem locally by doing a `docker restart` on the sciencebeam containers, and then requesting an extraction....

[code]

[tester.py.txt](https://github.com/elifesciences/elife-xpub/files/2755631/tester.py.txt)

/cc @de-code @hdrury1

[2019-01-14 15:13] diversemix commented on #1198
The logs had failures at least 10 mins apart ... checked and discovered that the 10 min interval is not an issue. i.e. sciencebeam still quickly extracted after being left for 10 mins.

[2019-01-14 15:22] diversemix commented on #1198
Looking within the grobid container... it appears to takes 15.2 seconds to load the models ... can we do this on start up @de ?

[code]

[2019-01-14 15:24] #1104 closed

[2019-01-14 15:54] de-code commented on #1288
I guess we also want or consider:

- `app`: `sciencebeam`
- is the module interesting? (e.g. `sciencebeam.utils`)
- what about access log relevant information, like start time or how long it took, status code etc?
- that could also be logged for client requests (e.g. from `sciencebeam` to `GROBID`)

[2019-01-14 16:06] hem-brahmbhatt commented on #1077
:shipit:

[2019-01-14 16:09] diversemix commented on #1198
This issue is closed as we have found the source of the issue. What we need to decide upon is how / who will fix this? @hdrury1

[2019-01-14 16:09] #1198 closed

[2019-01-14 16:13] hdrury1 commented on #1077
@giorgiosironi Generate separate tags for Production and Demo?

[2019-01-14 16:19] hem-brahmbhatt commented on #1077
We have a way to [load config from the server on page load](https://github.com/elifesciences/elife-xpub/blob/develop/app/index-production.html#L10), so we can embed the tag onto the page easily enough.

[2019-01-14 16:24] #1060 closed

[2019-01-14 16:42] #724 closed

[2019-01-15 06:54] diversemix commented on #1287
Not necessary... as they will be using the mocks recorded by replay

[2019-01-15 08:38] giorgiosironi commented on #1288
Yes, these two are generic fields that are interesting

These are specific to particular logs (receiving or performing requests), but what you describe is reasonable.

That should be covered by the generic `datetime` field of the "attempting request" log line.

[2019-01-15 09:24] diversemix commented on #861
Also for more context:
![image](https://user-images.githubusercontent.com/8524685/51170907-7864fc80-18a7-11e9-87bd-2fe103413c70.png)

https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG4gICAgcGFydGljaXBhbnQgU1IgYXMgU3RhcnRcbiAgICBwYXJ0aWNpcGFudCBFTCBhcyBlTGlmZVxuICAgIHBhcnRpY2lwYW50IEVKUCBhcyBlSlBcbiAgICBwYXJ0aWNpcGFudCBYUCBhcyB4UHViXG5cblNSLS0-PkVKUDogY2xpY2s

[2019-01-15 09:32] Cooryd commented on #1260
@hdrury1 currently the people api returns a single value of `name` which holds the persons full name. This is easy to order by and appears on the app as though we are sorting by first name but in reality we are just sorting by the whole `name` string. To sort by last name we would need to split this `name` string by empty spacing and use the last value found. An expensive process when fetching 400

[2019-01-15 09:37] diversemix commented on #330
We may need some product input on this ... I would expect we would want to scroll up to the top of the most relevant control (given that validation errors are beneath the control)
/cc @hdrury1

[2019-01-15 09:39] diversemix commented on #1048
I would recommend we split this into an "Investigate" task first - just to see and make a judgement on the work involved.

[2019-01-15 10:05] hdrury1 commented on #330
Clicking 'Next' with validation errors on the page shuld cause the page to scroll up, and focus to jump to the first field with a validation error.

[2019-01-15 12:10] hem-brahmbhatt commented on #1287
Review environments don't use replay, only tests do. Review environments are started with `NODE_ENV_CONFIG=ci`.

[2019-01-15 12:20] diversemix commented on #1218
Confirm its an issue and you've not been hacking around like @hdrury1

[2019-01-15 12:44] hdrury1 commented on #1077
Production Environment tag:

[code]

[2019-01-15 12:45] hdrury1 commented on #1077
Demo environment tag:

[code]

[2019-01-15 14:43] hdrury1 commented on #979
We'll need to create our own override for this PubSweet component to ensure it uses Noto Sans, font weight 400 in every instance.

[2019-01-15 14:55] hdrury1 commented on #1218
Tested this and can't reproduce with expected user journey, so closing down.

[2019-01-15 14:55] #1218 closed

[2019-01-15 15:56] #1260 closed

[2019-01-15 15:58] #1208 closed

[2019-01-15 16:46] giorgiosironi commented on #1077
I read `Demo` as `staging` and `end2end` since they are both environments that mimic production. You probably don't want it in review environments as they will just create noise.

[2019-01-16 08:15] #1259 closed

[2019-01-16 08:21] #1077 closed

[2019-01-16 10:13] diversemix commented on #862
@giorgiosironi   ... can we kick this off ASAP please

/cc @hdrury1 @BlueReZZ @Maelplaine

[2019-01-16 10:49] damnhipster commented on #1077
@diversemix Why has this been closed? If this has been implemented, can you link the PR?

[2019-01-16 10:54] giorgiosironi commented on #862
Ok, after staff meeting I will merge and deploy. Nothing should change.

[2019-01-16 12:06] giorgiosironi commented on #862
Deploying in https://alfred.elifesciences.org/job/prod-journal/819/

[2019-01-16 12:07] hem-brahmbhatt commented on #1048
This can be reproduced on desktop using Chrome.

1. Open developer tools
2. Cmd-Shift-M
3. Select Pixel 2
3. Go to the people picker, or refresh the page if you're already there
4. Your mouse acts as a touch device. Try to drag the page to scroll, and it should fail.
5. Close the people picker, and drag the page to scroll. It should scroll properly.

[2019-01-16 12:19] giorgiosironi commented on #862
https://prod--journal.elifesciences.org/submit is going to ORCID which is not a good sign. Have to check what happens with the CDN on top but there may be some caches.

[2019-01-16 12:23] giorgiosironi commented on #862
Purged `/about` and the link on https://elifesciences.org/about is sending to EJP as expected. More testing required but it seems safe for the time being.

[2019-01-16 12:25] giorgiosironi commented on #862
The login from Xpub does redirect back to xpub, while https://elifesciences.org/submit continues to safely go to EJP. Please try to break it if you have obscure cases (but it will be fully operational only after all caches have expired).

[2019-01-16 13:32] #862 closed

[2019-01-16 13:32] diversemix commented on #862
I've tested this all out too and am happy :+1:

/cc @hdrury1

[2019-01-16 14:09] #1001 closed

[2019-01-16 14:20] #1049 closed

[2019-01-16 14:20] #1209 closed

[2019-01-16 14:23] diversemix commented on #1048
Any update on how you are getting on with this?

[2019-01-16 14:25] diversemix commented on #1077
Accidentally closed

[2019-01-16 14:27] jyenes commented on #1037
It's an Issue on pubsweet, I managed to fix it adding a mediaQuery to see if the browser is IE11 and then play with the `left` property still not very happy with the fix

the code looks like this:
[code]

and its applied on

[code]
On `Step.js` file

@Cooryd and @damnhipster can you provide feedback before launching a MR on pubsweet side?

[2019-01-16 14:56] #1190 closed

[2019-01-16 15:29] jyenes commented on #1037
MR created on pubsweet

see https://gitlab.coko.foundation/pubsweet/pubsweet/merge_requests/485

[2019-01-16 15:41] hem-brahmbhatt commented on #1037
Is the CSS not something that can be added to [our override](https://github.com/elifesciences/elife-xpub/blob/develop/client/elife-theme/src/elements/ui/Steps.js#L40-L45)? It should get applied to Pubsweet's StepTitle molecule [here](https://gitlab.coko.foundation/pubsweet/pubsweet/blob/master/packages/ui/src/molecules/Steps.js#L56)

[2019-01-16 15:55] jyenes commented on #1037
is what I tried to do, but I didn't find a solution that worked out, as step has more component inside, so what we want to overwrite is `StepTitle`

[2019-01-16 15:57] #1212 closed

[2019-01-16 16:20] hem-brahmbhatt commented on #1037
@jyenes I think the bug we're facing is [this](https://github.com/philipwalton/flexbugs/issues/154).

Unfortunately, there's not really a fix for it, so your fix of using `left: -50px` is the way to go.

The other fix would be to change the DOM structure to include a wrapping element to remove the need for absolute positioning.

[2019-01-16 17:23] #979 closed

[2019-01-16 17:25] #1211 closed

[2019-01-16 17:36] hem-brahmbhatt commented on #1048
Found the issue: https://github.com/elifesciences/elife-xpub/blob/develop/app/components/ui/molecules/ModalOverlay.js#L60

[2019-01-17 09:14] diversemix commented on #749
Isn't closed yet

[2019-01-17 09:52] diversemix commented on #1037
@jyenes ... Having caught up with this ... can we remove the blocked and go with the fix? ... Agreeing with @damnhipster as I don't want to have to wait for Pubsweet even if they could fix it. If they did we can always apply it after doing this fix temporarily.

/cc @hdrury1

[2019-01-17 10:30] hem-brahmbhatt commented on #1048
The people picker acts as a modal overlaying the editors page. Because of this, we have to disable scrolling on the editors page so the modal can overlay the entire screen, without it having to be the height of the page.

We're using the [react-scrolllock](https://github.com/jossmac/react-scrolllock) library to achieve this. The library also disables touch scrolling globally.

The fix would be to

[2019-01-17 10:30] #1048 closed

[2019-01-17 10:36] diversemix opened #1308 "Supplementary Files with the same name get overwritten in the MECA zip"
**Describe the bug**

Files are added to the MECA zip as the name they are given when uploaded. This means that files with the same name are overwritten and so the export generates a bad zip file.

**Steps To Reproduce**

Upload supplementary files with the same name

**Expected behavior**

Not sure - should we prevent same name files being uploaded? or uniquely tag them in the zip?

[2019-01-17 10:49] SemraSh commented on #749
In addition to above:
- [ ] The `SUBMIT` button should look the same as the `NEXT` and `BACK` buttons.
- [ ] The `NEW SUBMISSION` button needs to be centered as the above and needs more padding to the sides.

[2019-01-17 10:50] diversemix opened #1310 "Submission contains two MANUSCRIPT_SOURCE files"
Looking at this at the minute on staging... manuscript id = `7912ed4c-fcb4-44cb-b17a-aca9d7a3f422`

First uploaded a PDF then a docx file ... both are attached to the manuscript

## Steps to Reproduce

1. Start a New Submission and go through the ... upload and goto to the "Submistion" step
2. Restart the server
3. Go back to the manuscript and replace the manuscript with another file.

Checking t

[2019-01-17 10:54] diversemix opened #1311 "Manuscript of type docx do not get exported to MECA correctly"
This is because the export is assuming the manuscript is a pdf format. This needs to be templated on the format (like supplemental files)

[2019-01-17 11:29] diversemix commented on #1140
@SemraSh Can you check this again in staging? Doesn't appear to be working :/

[2019-01-17 11:31] diversemix commented on #1140
My bad! ... looking at the Inclusion not the Exclusion ... sorry :pray:

[2019-01-17 11:32] diversemix commented on #1072
No longer necessary.

[2019-01-17 11:32] #1072 closed

[2019-01-17 11:35] diversemix commented on #1180
This can get closed ... as we no longer "hold onto" a manuscript for a long time. Instead we re-query -> do something -> save. This then circumvents the need for refreshing. /cc @Cooryd

[2019-01-17 11:35] #1180 closed

[2019-01-17 11:42] diversemix commented on #993
@giorgiosironi / @damnhipster Can we close this now?

[2019-01-17 11:45] #1037 closed

[2019-01-17 11:46] diversemix commented on #989
Closing as this is covered in the Unit Tests: see test `updates the current submission for user with data and emails`

[2019-01-17 11:49] diversemix commented on #1284
No longer an issue on my machine ... however it could have been #1310

[2019-01-17 11:49] #1284 closed

[2019-01-17 11:53] diversemix commented on #1144
@hdrury1 and I no longer see this as a problem. Will re-raise this issue if it starts again.

[2019-01-17 11:53] #1144 closed

[2019-01-17 11:59] diversemix commented on #1052
@damnhipster ... do you think this could be related to the scroll-lock issue?

[2019-01-17 12:02] diversemix commented on #1036
I think this an artefact of it being a SPA... how difficult is this to do @damnhipster / @Cooryd

[2019-01-17 12:03] diversemix commented on #980
@jyenes ... is this a duplicate? If so we should close it.

[2019-01-17 12:04] diversemix commented on #975
Reproduced

[2019-01-17 12:06] diversemix commented on #447
Control has been removed.

[2019-01-17 12:06] #447 closed

[2019-01-17 12:08] hem-brahmbhatt commented on #1052
Yes, will move this into todo.

[2019-01-17 12:08] hem-brahmbhatt commented on #1048
Fix will be implemented as part of #1052

[2019-01-17 12:20] #749 closed

[2019-01-17 12:21] #1165 closed

[2019-01-17 12:23] #980 closed

[2019-01-17 12:23] #1033 closed

[2019-01-17 12:44] diversemix commented on #632
Closing as done ages ago!

[2019-01-17 12:44] #632 closed

[2019-01-17 12:44] diversemix commented on #600
Closing as done ages ago!

[2019-01-17 12:44] #600 closed

[2019-01-17 13:29] #993 closed, assigned to nobody

[2019-01-17 14:32] hdrury1 commented on #1077
I've changed the title of this issue to reflect that Hotjar may also be a possibility (documentation: https://help.hotjar.com/hc/en-us/articles/115011805428-Hotjar-on-Single-Page-Apps)

With Hotjar, you can record individual user journeys, so we would see when they are clicking, when idle etc.

[2019-01-17 15:04] diversemix commented on #1310
Debugging gives:
[code]

[2019-01-17 16:25] diversemix commented on #1310
Closed by mistake

[2019-01-17 16:28] diversemix commented on #1077
Do we have a need for Google Analytics in any other environment other than production? If so why?
@hdrury1

[2019-01-17 17:26] hem-brahmbhatt commented on #1036
It shouldn't be difficult. It's something we can add within `react-router` to do on each page.

See [docs](https://reacttraining.com/react-router/web/guides/scroll-restoration)

[2019-01-17 17:30] hem-brahmbhatt commented on #1077
It would be useful to have in Staging so we can manually test it. We're likely to add more tracking events in the future, so it would be useful to have an environment to test it in other than Production

[2019-01-17 17:34] jyenes opened #1319 "create test browser to ensure replace manuscript is working"

[2019-01-17 17:40] diversemix commented on #1310
Linked #1319

[2019-01-17 17:52] #1052 closed

[2019-01-18 07:27] hdrury1 commented on #1077
Testing purposes only, yes.

[2019-01-18 09:58] chris-huggins opened #1321 "Checkbox wrapping/responsiveness update"
**Describe the bug**
Checkbox wrapping currently  has too small a line height and aligns to the textbox

![image](https://user-images.githubusercontent.com/41907215/51379357-1f939f00-1b07-11e9-8d91-e69db20c9fe8.png)

**Expected behaviour**

The text should wrap onto additional lines aligned to the top line of text, not the checkbox. Line height should also = 24px

![image](https://user-images.gith

[2019-01-18 10:38] chris-huggins opened #1322 "Fix person pod minimum size"
**Describe the bug**
Person pods don't fit on minimum screen widths (320px) - screenshot below shows 375px

![image](https://user-images.githubusercontent.com/41907215/51381848-245b5180-1b0d-11e9-9183-8a515f2b2e78.png)

[2019-01-18 10:41] chris-huggins opened #1323 "Fix input min height including validation"
**Describe the bug**
Often when validation errors are shown in a form the height of the component increases, which causes content below to jump. Space needs to allow for validation text by default to avoid this.

![image](https://user-images.githubusercontent.com/41907215/51382019-96cc3180-1b0d-11e9-9ed9-2d71ec528c58.png)

[2019-01-18 10:48] chris-huggins opened #1324 "Consider auto-filling ORCID details"
Should we auto-fill the author details form with ORCID data, instead of offering the "Pre-fill my details" link.

PRO: This requires less effort for users and may give us a better opportunity to feedback to users if they need to update their ORCID 'sharing setting' in the event that it doesn't work (requires design work)

CON: More effort if filling in the form for a different author... requires m

[2019-01-18 10:50] chris-huggins opened #1325 "Support the "stepper" in submission wizard at smaller device widths"
**Describe the bug**
At smaller screen widths the labels on the stepper component can get squashed. We need to support at 320px which we're not doing yet.

Below a certain breakpoint (needs design input) we should hide the labels on the stepper

![image](https://user-images.githubusercontent.com/41907215/51382517-e3643c80-1b0e-11e9-855d-08b796243235.png)

[2019-01-18 10:56] chris-huggins opened #1327 "Fix mobile scrolling issues in people picker modal"
**Describe the bug**
On some devices the scrolling behaviour in the people picker modal is not working as expected. This requires more investigation, but currently:

On Chrome on iPhone 6 we need to fix:

- No scrolling momentum
- Chrome address bar and bottom bar do not shrink/hide (typical scrolling behaviour)
- "Jumping" when selecting a person pod - we insert a selectedItem at the top of the l

[2019-01-18 11:02] chris-huggins commented on #330
I feel a little uneasy about this. Generally I think it's better to avoid scrolling automatically as it's not always clear why it's happened. I would like to keep this ticket as is, but I think it would be a good idea to test this thoroughly and consider if we should inform users in a different way.

Typically with validation we would hope to catch errors by showing errors states at the point that

[2019-01-18 11:10] chris-huggins opened #1328 "Fix inconsistencies with form inputs (single select and multi-select)"
**Describe the bug**

The height of the single and multi-select components (not sure of correct names as not in styleguide?) should be 48px not including validation etc.

![image](https://user-images.githubusercontent.com/41907215/51383517-92a21300-1b11-11e9-909d-0f86ce8d60ca.png)

[2019-01-18 11:14] chris-huggins opened #1329 "Should we select "Research article" by default?"
To reduce the likelihood of validation errors from users failing to make a selection/enter data, can we increase the amount that we use default values? This could also reduce effort for users when we have an obvious "most commonly used" option.

Do we have some data to support this?

**Current:**

![image](https://user-images.githubusercontent.com/41907215/51383638-e876bb00-1b11-11e9-9177-a176a2a2

[2019-01-18 11:21] chris-huggins opened #1330 "Fix inner shadow/styling of text inputs"
**Describe the bug**
In some instances on mobile, the text input and search box have an inner shadow, presumably inheriting some styling from the browser.

More investigation/testing on different browsers/devices/operating systems is needed - screenshot shown is chrome on iPhone 6

![image](https://user-images.githubusercontent.com/41907215/51383954-cb8eb780-1b12-11e9-89e8-a5c9bb651eb6.png)

[2019-01-18 11:25] chris-huggins opened #1331 "Fix overlapping selectedItem in Subject area input on small device widths"
**Describe the bug**
seletedItem overlaps its container

![image](https://user-images.githubusercontent.com/41907215/51384249-ad758700-1b13-11e9-9cda-b2f4ad448d6e.png)

**Expected bahviour**

Needs design input

[2019-01-18 11:33] chris-huggins opened #1332 "Styling of modals on smaller devices/mobile"
Consider updating the styling of modals on smaller devices/below 480px breakpoint for more focus on content/question.

![image](https://user-images.githubusercontent.com/41907215/51384538-89667580-1b14-11e9-9f07-25dd9bcc5ede.png)

![image](https://user-images.githubusercontent.com/41907215/51384553-91beb080-1b14-11e9-850e-44f9b2bfba21.png)

[2019-01-18 11:40] #1311 closed, assigned to diversemix

[2019-01-18 12:00] chris-huggins opened #1333 "Fix height of subject area picker before/after selection (and other fixes)"
**Describe the bug**
The height increases when a selection is made.

**Expected behaviour**
The height would be 48px (including border) before and after selection is made (unless selectedItem(s) are more than 1 line tall - which would increase height by 48px for each line/item.

Also:

- Update text and styling of the placeholder text (should match other inputs)
- Remove dropdown icon/arrow
- Fix

[2019-01-18 12:08] chris-huggins opened #1334 ""Exclude reviewer" behaviour should match the "suggest reviewer" behaviour"
**Describe the bug**
Since moving to a single reviewer input with "(optional)" label, that adds another form with each reviewer added, should we move to the same concept for excluding reviewers?

**Current**

Suggest reviewers

![image](https://user-images.githubusercontent.com/41907215/51386249-aea9b280-1b19-11e9-8ab7-85cf8389e279.png)

Exclude reviewers

![image](https://user-images.githubuserco

[2019-01-18 13:34] hem-brahmbhatt opened #1337 "Fix intermittent browser test failures in CI"
Our build on Jenkins seem to be failing intermittently with the following output:

https://alfred.elifesciences.org/blue/organizations/jenkins/pull-requests-projects%2Felife-xpub/detail/PR-1326/8/pipeline#step-68-log-108

We've added some more logs in https://github.com/elifesciences/elife-xpub/pull/1326, where we concluded the following:

- Outbound server-side requests are intercepted and mocked

[2019-01-18 13:44] hdrury1 commented on #330
I vote that we put a pin in this, pending user feedback.

[2019-01-18 13:53] chris-huggins opened #1338 "Include icons in form validation and review use of green"
Accessibility best practices suggest use of colour, informative text and icons to communicate validation errors/success. We should add icons to improve the clarity of our validation states, especially for those with colour blindness.

[2019-01-18 13:57] chris-huggins opened #1339 "How should we inform users of validation errors that are off screen?"
## Problem / Motivation

- WHO authors
- WHEN submitting research via the wizard
- WHAT want to see if they have missed validation errors when trying to progress to the next step
- WHY so that they are aware of what did not work and can resolve it before continuing

User testing should help us design a solution to the above problem. Current suggestion is to 'jump' scroll position to the highest/fi

[2019-01-18 14:33] hem-brahmbhatt opened #1341 "Add Google Analytics to the page"
Add Google Analytics tags to all client-facing pieces of the application.

## Background
See #1077

## Tasks
- [ ] add Demo tag to the page on Staging environment
- [ ] add Production tag to the page on Production environment
- [ ] ensure Google Analytics is working correctly with @hdrury1

## Technical notes

We should be able to put the tag within the `<head>` tag by editing [this file](https://

[2019-01-18 14:36] hem-brahmbhatt commented on #1077
@hdrury1 can you put the tracking code for hotjar here?

https://help.hotjar.com/hc/en-us/articles/115009499088-How-to-Find-your-Hotjar-Tracking-Code

[2019-01-18 15:25] chris-huggins commented on #1333
Also,

We should clear the placeholder text (which should not be black) when the input has focus so that it is clearer the users that they can type to search/filter.

Currently the placeholder text "Select..." persists until selection even though the user is able to type.

![image](https://user-images.githubusercontent.com/41907215/51395645-2802ce80-1b35-11e9-9270-3a5fb99438d4.png)

[2019-01-18 15:25] chris-huggins commented on #1333
We should also remove the validation state while it has focus (image shown above has both blue focus border and red validation border

[2019-01-18 17:04] #1310 closed, assigned to jyenes, diversemix, SemraSh

[2019-01-18 17:37] #1319 closed, assigned to jyenes, SemraSh

[2019-01-18 17:51] diversemix commented on #1171
Looks great :+1:  let's get it in  )

[2019-01-21 09:25] diversemix opened #1344 "File Upload breaks if using a non-exiting filename"
When you click to upload the manuscript and get the system dialog for selecting a file... you can also type in the name of a non-existing file. When the latter is done it causes the the upload to pause and then error. Would be good if the client side code checked for the existence of this file.

[2019-01-21 10:52] Cooryd opened #1345 "Client error thrown when attempting to upload unsupported manuscript file"
**Describe the bug**
An error is thrown within the client when the user tries to upload a file which is not a docx / pdf.

[code]
**Steps To Reproduce**

Drag and drop a png file onto the manuscript upload area.

**Expected behavior**
Validation message should be shown in the app and the existing file should be removed.

[2019-01-21 11:48] #1345 closed, assigned to Cooryd

[2019-01-21 11:51] hdrury1 commented on #1077
As per Standup discussions I will create a new issue for adding HotJar tracking.

[2019-01-21 11:58] hdrury1 opened #1348 "Add HotJar tracking to the application"
See #1077 for background. As with Google Analytics, the following will need to be inserted into the `<head>` section. We only have one tag in this instance so it should be added to both environments for testing.

[code]

**Tasks**

- [x] add tag to the page on Staging/Production environment
- [x] ensure HotJar is working correctly with @hdrury1

[2019-01-21 12:35] SemraSh commented on #1341
The demo setup is set for staging, so this pr needs to be merged in order to be tested.

[2019-01-21 13:17] #1171 closed

[2019-01-21 13:45] diversemix opened #1350 "Investigate MECA use of <title> <description> and <filename>"
Conversation on slack https://elifesciences.slack.com/archives/CDAD612MT/p1547830589004800?thread_ts=1547723754.002200&cid=CDAD612MT

This is a little ambiguous about which tags are used for what - Intending to craft a series of zip files to determine how they are used.

/cc @hdrury1

[2019-01-21 14:15] diversemix commented on #1350
Found that the `<title>` is the item that is shown in eJP - so this should be (will be) set for items.

[2019-01-21 15:01] diversemix opened #1351 "Bug submitting with a script"
[do_submission.zip](https://github.com/elifesciences/elife-xpub/files/2779376/do_submission.zip)

[code]

[2019-01-21 15:27] SemraSh opened #1353 "Separate the client and server config variables"
Currently all the variables are stored in the same config file and if that variable is used in the client side we need to define `isPublic: true` alongside the variable. It will be better if we put the server and client side configs in separate files.

#### current version
/config/environment
[code]

#### requested implementation
/server/config/environment
[code]
/client/config/environment
[code]

[2019-01-21 17:17] diversemix opened #1357 "Fail to run app when no network connected"
... many of the endpoints fail as its trying to contact the elite api. Solution is to configure the dummy elife api in docket compose.

[2019-01-21 17:26] #1341 closed, assigned to jyenes, SemraSh

[2019-01-21 17:29] SemraSh commented on #1341
closed by #1352

[2019-01-21 17:34] #1321 closed, assigned to SemraSh

[2019-01-21 17:38] hem-brahmbhatt opened #1358 "Track page views with Google Analytics"
Xpub is a single page app. This means that Google Analytics does not track page view by default.

We should change the router on the React app so that it tracks page view automatically.

You can find more information [here](https://github.com/elifesciences/elife-xpub/issues/1077#issuecomment-454012354)

- [x] change react-router to track page views on Google Analytics
- [x] track the page views wh

[2019-01-22 07:48] #1350 closed, assigned to diversemix

[2019-01-22 08:36] diversemix commented on #1353
Good ticket - let's discuss before anything is implemented

[2019-01-22 09:48] diversemix opened #1361 "Able to click Next when supporting files are uploading"
On the "Submission" page if you complete the cover letter and upload a manuscript... then start an upload(s) of supporting files .... you are able to click "Next" and go on to complete the submission.

This results in an error on the MECA export as the file is not found in S3...

[code]
-----
Depends on #1373 #1374

When these are complete clicking `Next` should validate and return an error when f

[2019-01-22 09:51] diversemix opened #1362 "Refreshing page show Supporting file incorrectly"
If you refresh the page while Supporting files are uploading then they appear to be successfully uploaded even if they are not. This was demonstrated by going through and submitting the Submission and seeing the error  in #1361

Depends on #1373 #1374

Need to validate based on the status of the `manuscript.files[ ]` and show the correct state (i.e. spinner accordingly)

[2019-01-22 10:00] diversemix commented on #617
@hdrury1 .... I think it would be diligent for me and @giorgiosironi to add the following before release (and also share with the team):
- Database recovery
- How to find and investigate a submission

[2019-01-22 10:34] hdrury1 opened #1363 "Text overlapping container on mobile"
**Describe the bug**
Text is overlapping its container at mobile width.

**Steps To Reproduce**
1. Begin a new submission
2. Upload a manuscript with long title
3. Observe text overlapping container

**Expected behavior**
Filename should truncate to fit inside container

**Screenshots**
![img_0426](https://user-images.githubusercontent.com/17023702/51529639-06556000-1e31-11e9-8025-8a995e973a3d.PNG

[2019-01-22 10:34] diversemix opened #1364 "Article Type control is not usable with keyboard"
If you "Tab" from the "Manuscript Title" to "Article Type" you cannot use the control with your keyboard.

I would class this as not accessible @davidcmoulton ?

[2019-01-22 10:42] chris-huggins commented on #1363
We should truncate long file names. At the moment it looks like there is too much padding, so we should also decrease the padding to 24px from the container edge to maximise available space before truncating (with ellipsis)

![image](https://user-images.githubusercontent.com/41907215/51530164-4406b880-1e32-11e9-8ee3-ab3afe1fe7cb.png)

[2019-01-22 10:43] giorgiosironi opened #1365 "Port do-submission.sh on elife-spectrum"
`do-submission.sh` is a bash script controlling a browser, but has to use bare sleeps and absolute mouse pointers to use the xpub ui.

`elife-spectrum` has Page Objects that can help. We can reuse those as an exploratory testing tool rather than automated testing.

To be continued..

## Subtasks

- [ ] A description of a subtask
- [ ] A description

## Assumptions and notes
- We could use this tec

[2019-01-22 10:48] diversemix commented on #1308
@hdrury1 ... can we get this into todo :pray:

[2019-01-22 11:56] hdrury1 opened #1366 "Add 'opt out' line to notification email"
To comply with data protection requirements, we should add a caveat to the notification email to allow a person to request their data is not stored. This will account for use cases where a user has entered an incorrect email on Step 1 of the wizard.

[2019-01-22 12:52] hdrury1 opened #1367 "Add validation state for supporting file that is too large"
**Describe the bug**
When attempting to upload an invalid file, e.g. one more than 100MB, there is no indication why it cannot be uploaded. The file manager closes with the UI unchanged.

**Steps To Reproduce**
1. Navigate to the file page.
2. Upload a manuscript successfully.
3. Click the link to upload supporting file(s).
4. Observe that file manager closes with no file added.

**Expected behavi

[2019-01-22 13:47] diversemix opened #1369 "Add document detailing Data Privacy in design"
Statement of what we have done/considered.
Write up of our review meeting

[2019-01-22 13:53] hdrury1 opened #1370 "Add list of name exceptions to check against"
When splitting the `name` field we identified a number of accounts in eJP that didn't work with our formula (splitting on first space). We should add a list of these exceptions for the script to check against.

[2019-01-22 13:54] diversemix opened #1371 "Add tests for notifications.js (emails)"
After reviewing #1368 realised there are no tests for emails!

[2019-01-22 13:54] #1366 closed, assigned to hdrury1

[2019-01-22 13:56] diversemix commented on #925
Linked to #1370

[2019-01-22 13:57] hdrury1 commented on #1370
Duplicate ticket.

[2019-01-22 13:57] #1370 closed, assigned to nobody

[2019-01-22 14:01] SemraSh commented on #1333
Current view
![image](https://user-images.githubusercontent.com/32770804/51539498-1464aa00-1e4c-11e9-93c4-b6c8682e3f1c.png)
as @chugginselifesciences approved the required changes are as follows
![image 1](https://user-images.githubusercontent.com/32770804/51539867-f8153d00-1e4c-11e9-939f-4614326d85f3.png)
- The Article type field should be 4 columns instead of 8.
- The placeholders are supposed t

[2019-01-22 14:02] hdrury1 commented on #925
Anything that is a FALSE match in this list:

https://docs.google.com/spreadsheets/d/1vrL_FgEwAaM54GC_GEut_Fau6uvkzuJ1xCYbjTKdBCA/edit#gid=190468026

[2019-01-22 14:31] chris-huggins commented on #1333
Thanks Semra - please also note that all labels should be 14px. At the moment the subject areas label is 16px.

[2019-01-22 15:59] diversemix commented on #1362
@diversemix is now breaking this down

[2019-01-22 16:09] diversemix opened #1373 "Introduce status on to File entity"
Need to have a status on a file to determine that its being uploaded, and in the future if its been deleted.
This ticket is to add this to a new migration and also to the mode class of `File`. At the moment this should contain three states:
- `CREATED`
- `UPLOADING`
- `UPLOADED`
- `CANCELLED`

The default should be `CREATED`

Part of #1362

[2019-01-22 16:17] diversemix opened #1374 "Use File status on supporting file uploads"
When uploading a supporting file(s) change the logic so that the status is set to `UPLOADED` only after it has been uploaded into S3 (+tests)

Also probably worth changing the manuscript upload too.
Part of #1362

[2019-01-22 16:30] diversemix commented on #1362
Breakdown done

[2019-01-22 16:50] diversemix opened #1375 "Update playbook with how to restore the database from a snapshot"
Going to be done by @giorgiosironi as the repo might get renamed

[2019-01-22 16:51] hem-brahmbhatt commented on #1373
I think `UPLOADED` is clearer than `PRESENT`

[2019-01-22 16:52] hem-brahmbhatt commented on #1373
It may be better to keep this within a `upload_status` column instead of a `status` column

[2019-01-22 16:54] diversemix opened #1376 "Document rebuilding stacks (using Builder)"
Again for @giorgiosironi  to detail how we rebuild stacks one node at a time to ensure maximum uptime.

[2019-01-22 17:35] chris-huggins opened #1378 "Show an error state when supporting file uploads are cancelled (by page reload)"
## Problem / Motivation

- WHO author completing an initial submission
- WHEN and WHERE when uploading one or more supporting files and reloading the page
- WHAT files cancelled by the reload should be shown in an error state
- WHY do they want this? So that they are aware the files will not make it to eJP

## Proposed solution

Show an error state

## Clarification needed and assumptions

- Are w

[2019-01-23 09:15] diversemix commented on #1367
@hdrury1 / @chugginselifesciences ... are we implementing the trash icon as part of this?

[2019-01-23 09:36] diversemix commented on #1373
@damnhipster
:+1: for `UPLOADED` will change it
:-1: for rename, as we could have a `TRANSFERRED` state if it were to come from a different journal so `uploaded_status` seems to constrain the use of the `status` - what do you think?

[2019-01-23 10:20] hem-brahmbhatt commented on #1373
I'm not sure about the status of a *File* as a concept. It's something you would have on a *Manuscript* (submission) which would step through multiple statuses on it's journey, but a *File* wouldn't behave in that way except for the upload journey.

I think it would be better to constrain the use of the column to a specific descriptor. This would mean adding a new column to describe attributes suc

[2019-01-23 10:20] hdrury1 commented on #1378
Note that for MVP we will not be introducing the trash icon. A user will remove all items and start again.

I've raised a ticket for improving the feature (adding the trash icon and functionality) here: #1382

[2019-01-23 10:22] hdrury1 commented on #1367
Please note that for MVP we will not be introducing the trash icon. I'll raise a new ticket to add this additional functionality post-release.

[2019-01-23 10:27] giorgiosironi opened #1380 "Preemptively upgrade Postgres to 10.6 before AWS does it for you when you least expect it"
Deadline: 2019-02-05

<blockquote>
Our records indicate that you have one or more PostgreSQL database instances which are not running the latest minor versions of PostgreSQL available on RDS.

Since PostgreSQL versions 10.6, 9.6.11, 9.5.15, and 9.4.20 contain important cumulative security fixes, we recommend that you upgrade your PostgreSQL 10.x instances to 10.6, PostgreSQL 9.6.x instances to Pos

[2019-01-23 10:28] hdrury1 opened #1381 "Remove suggested editor from results for excluding an editor (and vice versa)"
Currently, a user can suggest and exclude the same editor which will cause issues once the submission undergoes assessment if it is unclear which experts should be consulted and which definitely should not.

The simplest way of preventing this state is to ensure the user is unable to select the same Person Pod in two instances of the People Picker.

**Product Reqs**

- If an editor is suggested, e

[2019-01-23 10:43] hdrury1 commented on #1348
HotJar has been successfully installed in the Staging environment, and we're happy for the feedback widget to only appear on the `/thankyou` page so I'm going to move this into Done.

I've now repurposed the submission site within our HotJar settings for the Prod environment, so I believe we'll need to update the ID within the `prod.js` config file to point to the right place. Will raise this with

[2019-01-23 10:43] #1348 closed, assigned to Cooryd

[2019-01-23 10:55] hdrury1 opened #1382 "Enable a user to delete individual files from list of supporting files"
## Problem / Motivation
- WHO wants this? Submitting author
- WHEN and WHERE do they want it? On the Files step of the submission wizard, as an improvement to the UI of the supporting file upload feature
- WHAT do they want? The option to delete a single file from the list
- WHY do they want this? Having to remove all files before starting again is a poor user experience, as valid files are remove

[2019-01-23 10:58] hdrury1 commented on #1161
This has been implemented.

[2019-01-23 10:58] #1161 closed

[2019-01-23 11:11] diversemix commented on #1380
@hdrury1 ... let's do this before release :pray:

[2019-01-23 11:34] hdrury1 opened #1383 "Over-write supporting files with the same name"
If a user uploads a second file with the same name as the first, the second file should override it in the database (currently we allow for multiple files with the same filename to be stored, but this does not persist through to export).

On the front end, rather than displaying both the first and second file in the list of uploaded files, only the second would be displayed to the user.

subtask:

[2019-01-23 14:31] #1373 closed, assigned to diversemix

[2019-01-23 14:46] #1369 closed, assigned to diversemix

[2019-01-23 15:32] hdrury1 opened #1385 "Investigate: link in notification email pointing to localhost:3000"
**Describe the bug**
The link embedded in a user's notification email enabling them to re-access their dashboard was found to point to localhost:3000. We need to check that the email is configured correctly.

![image](https://user-images.githubusercontent.com/17023702/51617375-01bda400-1f24-11e9-9076-1801a54baa46.png)

[2019-01-23 17:28] giorgiosironi commented on #1385
https://github.com/elifesciences/elife-xpub/blob/8fef310dc7b698ba6cc3db7897ac19e801511a01/server/xpub-controller/notification.js#L54-L61 is the reference where this is passed to the email templates.

[2019-01-23 17:32] giorgiosironi commented on #1385
However:
[code]

[2019-01-23 17:36] giorgiosironi commented on #1385
Read in by:
https://github.com/elifesciences/elife-xpub/blob/e93757368b3a72885af8743f22a819e7a0b62d87/config/custom-environment-variables.js#L11
and considering the upstream example:
https://gitlab.coko.foundation/search?utf8=%E2%9C%93&snippets=&scope=&search=baseUrl&project_id=61
I think we should change `base_url` to `baseUrl`, the former is probably null/undefined and then defaults to `localhos

[2019-01-24 10:00] #1358 closed, assigned to jyenes

[2019-01-24 10:51] diversemix commented on #1373
I'm currently working on the status (life-cycle) of a file of being:
`CREATED -> UPLOADED -> STORED or CANCELLED`

I think it's entirely correct that a File has its own status outside that of its containing Submission. This way we can add this to the AuditLog too and monitor the lifecycle of an individual file.

[2019-01-24 10:51] diversemix commented on #1373
@damnhipster / @Cooryd

[2019-01-24 13:16] hdrury1 opened #1389 "Change 'from' name in dashboard email"
There is no alias currently set for the `editorial@elifesciences.org` address that the dashboard email is coming from, and it defaults to 'Editorial' which is a little cryptic.

We should add a name to the mailer config so the emails appear to come from 'eLife editorial team'

[2019-01-24 14:43] diversemix opened #1390 "Upgrade pubsweet server & client"
This work has begun on this branch `upgrade-pubsweet-12.0.2`

This work was initially started because of issues found in the pubsweet base-model - which have been fixed. However the caused more issues when it was upgraded so this branch has been shelved for now.

[2019-01-24 14:50] hem-brahmbhatt opened #1391 "Add user to AuditLog"
### Background
As an administrator
When I view the audit logs for a manuscript
I want to know who performed the actions that have been logged
So I can track changes more easily

### Related issues
Depends on #1243

### Tasks
- [ ] Add a factory function to the AuditLog to create new records, and use this within models
- [ ] Remove references to AuditLog from within other models, and move the calls

[2019-01-24 14:52] hem-brahmbhatt commented on #1243
Raised #1391 to store the following details to the AuditLog: *user performing the action on the object*

[2019-01-24 14:52] #1243 closed

[2019-01-24 15:31] #1367 closed, assigned to SemraSh

[2019-01-24 15:37] hdrury1 commented on #1385
Also hard-coded to `base_url: 'http://localhost:3000',` in `default.js` (which may or may not be relevant)...

[2019-01-24 23:17] lsh-0 commented on #1380
outside of xpub, most other RDS instances are still on 9.something and won't see the minor version bump, just the patch

[2019-01-25 10:32] #1385 closed, assigned to Cooryd

[2019-01-25 11:33] diversemix opened #1394 "Investigate Andy's missing article files"
Point (2) from Andy : https://elifesciences.slack.com/archives/C6MJK1RD4/p1548361250003700

[2019-01-25 11:43] diversemix commented on #1394
## 24-01-2019-EC-eLife-02129
First missing article file is related to xPub id: `36a712ac-0417-4e70-aa58-ed5bc87a8fff`
The package seems to correctly identify (and contain) the file:

[code]

[2019-01-25 11:51] diversemix commented on #1394
## 24-01-2019-ISRA-eLife-02125
xPub id: `e40e0293-2132-410c-bead-870ad747e095`
Also is correctly specified in the manifest:
[code]
However it has also been uploaded as a supporting file ... this has messed up the import...
[code]

[2019-01-25 11:52] diversemix commented on #1394
## 24-01-2019-ISSR-eLife-02126
xPub id: `d7fffd0b-e3c4-4ec7-aa79-ce6599dd0cf2`

Again this is correctly specified and contained within the package:
[code]

[2019-01-25 11:55] diversemix commented on #1394
## 24-01-2019-ISTR-eLife-02127
xPub id: `0010e7a3-9150-403f-bf24-4653fa88c782`

Again this is correctly specified and contained within the package:

[code]

[2019-01-25 11:58] diversemix commented on #1394
@acollings / @hdrury1 ... This looks like an issue with eJP - the have been reported as successfully imported (another false positive). There does seem to be at least 2 issues,
- one being where the same file is uploaded as the manuscript and a supporting file.
- the second being not importing the article file at all.

[2019-01-25 12:00] #1394 closed, assigned to diversemix

[2019-01-25 12:22] hdrury1 commented on #1394
The non-imported article files I will raise with Clara to investigate her end. The same file messing up the import presumably is an issue with our code?

[2019-01-25 13:15] #1374 closed, assigned to diversemix

[2019-01-25 13:31] diversemix commented on #1378
@hdrury1 is this a duplicate of #1362 ?

[2019-01-25 13:32] hdrury1 commented on #1378
@diversemix I thought it was but after discussion the other day didn't we determine this ticket encompassed the front end work and the other the server side?

[2019-01-25 13:33] diversemix commented on #1378
Ah ok ... so the server now needs to not delete the file entity when it fails? (Otherwise they won't show up) is that correct @hdrury1 ?

[2019-01-25 13:34] hdrury1 commented on #1378
I guess fulfilling this ticket will also solve the bug :)

[2019-01-25 13:41] diversemix commented on #1361
First commit will be to generate a validation error on the manuscript if any file is not in the `STORED` state

[2019-01-25 15:17] diversemix commented on #1361
We also need to check that the manuscript source file is not of type `MANUSCRIPT_SOURCE_PENDING`

[2019-01-25 17:49] #1381 closed, assigned to SemraSh

[2019-01-28 10:29] chris-huggins opened #1397 "48px height for "Subject Areas" and "Article type" pickers/input"
**Describe the bug**
Inconsistent height. There are other related issues described in #1333. I've added this ticket to allow us to cover just the height fix in the short term.

@SemraSh said she will try to find time to make this small fix before launch so I'm adding it to To Do as a reminder.

If it is a quick enough fix I would recommend also fixing the "Subject areas" label to 14px font instead

[2019-01-28 10:37] chris-huggins opened #1398 "Reinstate vertical centring of login page content"
**Describe the bug**
In the past the content of the login/continue page was vertically centred. It no longer appears to be, and the spacing below 768px is non-existent.

This is likely the result of the work done to fix #980 where the content was overlapping the app bar on very short and wide browser size.

The vertical centring should be reinstated, without again causing the content to overlap th

[2019-01-28 10:45] hdrury1 commented on #1182
Can we try and close this in the process of work for #1361? Makes sense to validate for both/either.

[2019-01-28 11:32] #1007 closed

[2019-01-28 14:07] hem-brahmbhatt commented on #925
@hdrury1 The list contains some unusable names, I'll filter those out.

I'll do the names with special characters separately, since it will need a bit more testing.

[2019-01-28 14:50] hdrury1 commented on #1308
Now that we're addressing #1383 will this still be a problem? It's expected behaviour that a file with the same name will overwrite an existing file... or is there an actual error with generating the package?

[2019-01-28 15:35] #1047 closed

[2019-01-28 16:42] #1362 closed, assigned to Cooryd

[2019-01-28 16:59] giorgiosironi commented on #925
Suppose staging gets cleaned from all data (these requests have happened before): how do we recreate this table's data? Should we store the final result in source control, or somewhere private if needs to be protected?

Also, @diversemix suggested to clear the production database before launch, which would then had to make sure not to touch this table.

[2019-01-28 17:04] diversemix opened #1402 "Make the link "Manage my ORCiD" a config item"
See #1401

https://github.com/elifesciences/elife-xpub/pull/1401#discussion_r251502962

[2019-01-28 17:52] chris-huggins opened #1403 "Update text on dashboard that links to eJP to include "Research Advances""
We need to direct users looking to submit a "Research Advance" article type to eJP. To do this until we have a better solution, we need to update the text on the dashboard that currently says

We should change it to

 Where "Research advance" links to the relevant section of the author guide (in https://staging--xpub.elifesciences.org/author-guide/types) and keep "full peer review and submissions

[2019-01-29 09:50] giorgiosironi commented on #1375
Testing out a snapshot on a new server, from https://console.aws.amazon.com/rds/home?region=us-east-1#snapshot:engine=postgres;id=rds:elife-xpub-staging-2019-01-29-03-30

[2019-01-29 09:51] giorgiosironi commented on #1375
Instance being created at https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=elife-xpub-staging-restore-test;is-cluster=false

[2019-01-29 09:56] giorgiosironi opened #1407 "Change hostname to reviewer.elifesciences.org"
Adding `reviewer.elifesciences.org`, I'll leave `xpub.elifesciences.org` in place as a fallback in case something is depending on it.

[2019-01-29 10:01] giorgiosironi commented on #1375
Instance ready, trying to generate a `pg_dump` of it.

[2019-01-29 10:12] giorgiosironi commented on #1375
Either I copied the wrong hostname or there are some visibility problems between subnets:
[code]

[2019-01-29 10:14] hdrury1 opened #1408 "Investigate: HotJar recordings not displaying CSS correctly from mobile, Chrome or Safari"
I've noticed that HotJar screen recordings from any mobile platform, or desktop platforms operating Crome or Safari are not displaying the application's CSS correctly.

CSS is also not being displayed on recordings from the staging environment, but this is less of an issue given users will be using the prod. environment.

[2019-01-29 12:51] giorgiosironi opened #1409 "Implement maintenance mode"
https://elifesciences.slack.com/messages/C6MJK1RD4/convo/C6MJK1RD4-1548759467.005600/

[2019-01-29 12:59] giorgiosironi commented on #1375
The [security group](https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#SecurityGroups:search=sg-e4a1de81;sort=groupId) seems to allow only traffic from inside the security group. It seems an old one so I'll detach it, must be some default.

[2019-01-29 13:00] giorgiosironi commented on #1375
Changed to `elife-xpub-staging-VPCSecurityGroup-16L6J45AL7U4W`. This needs better automation.

[2019-01-29 13:03] giorgiosironi commented on #1375
[code]
got me a dump:
[code]

[2019-01-29 13:14] giorgiosironi commented on #1375
The `directory` format is better as it's compressed by default and can be restored both while dropping or not dropping the existing tables:
[code]

[2019-01-29 13:36] giorgiosironi commented on #1375
Restore command worked for me, destroying my freshly created submissions:
[code]
Some warning however:
[code]
Will now put scripts in the formula for deployment.

[2019-01-29 15:51] giorgiosironi commented on #861
Summary of today's call from the technical point of view:
- current homepage on EJP is a `301 Permanent Redirect` to `/cgi-bin/main.plex` with no `Cache-Control` so switching that to go to `/submit` may be problematic as people continue to see the old behavior cached
- even if we did that, people may submit in EJP because they are already in the system through deep links like https://submit.elifes

[2019-01-29 16:22] giorgiosironi commented on #1375
What?
[code]
Why non-VPC, since it should be in the default security group. Maybe that security group is out of the VPC then.

[2019-01-29 16:42] chris-huggins opened #1411 "Cover letter/text editor validation styling fixes"
In addition to the text editor button states described in #462, the text editor validation state should be updated for consistency with other input component validation states.

**Currently validation text appears 18px below the component.**

![image](https://user-images.githubusercontent.com/41907215/51924067-404fd480-23e4-11e9-9bd7-866de5812c3a.png)

The validation text should instead be shown 1

[2019-01-29 16:43] giorgiosironi commented on #1375
Better when specifying the subnet group, which is then mandatory for creation I guess. The security group has to be specified after creation instead.

[2019-01-29 16:43] giorgiosironi commented on #1375
In review with:

- https://github.com/elifesciences/elife-xpub-formula/pull/69
- https://github.com/elifesciences/elife-xpub/pull/1412

[2019-01-29 17:20] chris-huggins opened #1413 "Update Text Editor/cover letter input to include additional buttons and responsive behaviour"
In addition to updating the text editor button styles (#462), we should aim to include controls to add bulleted and numbered lists, and to increase/decrease indents.

@hdrury1 this is based on design work before I started. I am assuming the decision was to keep things simpler short term, but include these additional controls later, which is why I'm adding the ticket now. Please let me know if the

[2019-01-29 17:23] chris-huggins commented on #1413
Note: related to #251

[2019-01-29 17:41] chris-huggins opened #1414 "Drop target/manuscript upload height changing during upload"
**Describe the bug**
The height of the drop target component changes when files are uploading and uploaded. The height, position and size of the text should be consistent (should always be 192px unless text wrapping onto another line). https://zpl.io/anYoxMO

Current Default:

![image](https://user-images.githubusercontent.com/41907215/51927629-ece18480-23eb-11e9-855a-f1175bd2317c.png)

Current up

[2019-01-29 18:23] chris-huggins opened #1415 "Validation causing components below to move up/down"
Building on #1323.

Currently input size/spacing doesn't allow for validation text to appear without changing the height of the component, therefore causing components below to move down/up when validation is shown/removed.

![image](https://user-images.githubusercontent.com/41907215/51928283-79d90d80-23ed-11e9-9cc4-4c0be73bcc53.png)

Single line-height inputs, including validation text should = 9

[2019-01-30 14:20] #1403 closed, assigned to hdrury1

[2019-01-30 16:17] #1375 closed, assigned to giorgiosironi

[2019-01-30 16:28] chris-huggins opened #1419 "Investigate showing/converting HTML versions of uploaded manuscript immediately after submission"
To continue design work it would be ideal to identify if we will be able to show authors an HTML version of their manuscript once they have uploaded it. Also, if editorial staff involved in initial submission QC checks will be able to look at an HTML preview, and therefore comment on it.

The alternative is to show a list item with download button for the manuscript file until this functionality i

[2019-01-30 17:45] diversemix commented on #925
@giorgio... apologies for late reply. Please wipe the Production db asap.... the population of the table will be discussed with @damnhipster

[2019-01-30 17:50] diversemix commented on #1380
Like to take another  view on this with @hdrury tomorrow

[2019-01-30 17:52] diversemix commented on #1308
Superceded by #1383

[2019-01-30 17:52] #1308 closed, assigned to nobody

[2019-01-31 08:57] diversemix opened #1421 "Investigate times shown on dashboard"
They look like `created` and not `updated`

[2019-01-31 09:29] giorgiosironi commented on #617
Database recovery has been added, "how to find and investigate a submission" is not something I can do except in providing SSH/SQL access?
The original checklist needs to be updated?

[2019-01-31 09:39] hdrury1 commented on #1421
Can confirm I'm also seeing this behaviour.

[2019-01-31 09:45] #1407 closed, assigned to giorgiosironi

[2019-01-31 09:56] giorgiosironi commented on #1409
Linked PR is a start, but still in this case the load balancer will cut off the node due to `/ping` not responding. So we should implement `/ping` in nginx or use a different one for the ELB health check.

[2019-01-31 09:57] giorgiosironi commented on #861
It looks like this should be in `In Progress` now?

[2019-01-31 10:33] jyenes opened #1424 "return Id on the upload file mutation"
is required o overwrite supporting files

[2019-01-31 10:56] Cooryd opened #1425 "Present a more user-friendly / useful client side error display when elife people api call fails"
**Background**

When xpub is unable to fetch editor details due to the journal `/people` api not working correctly  https://github.com/elifesciences/elife-xpub/blob/32b6e4a77dca30c968cfb17166ff7335b2372e7b/server/xpub-model/entities/user/helpers/elife-api.js#L29  we correctly throw an error of `logger.error('Failed to fetch from eLife API:', err.message, err.stack)` which is useful for pin pointin

[2019-01-31 11:01] #1333 closed, assigned to nobody

[2019-01-31 11:01] #1397 closed, assigned to SemraSh

[2019-01-31 13:40] #1424 closed, assigned to jyenes

[2019-01-31 13:48] hdrury1 commented on #861
Once I've had confirmation from Joel that this work is happening!

[2019-01-31 14:32] giorgiosironi commented on #1255
Created two policies:
https://alerts.newrelic.com/accounts/1451451/policies/386586
https://alerts.newrelic.com/accounts/1451451/policies/386589
with notification channel xpub-tech-alerts@elifesciences.org

We need to expand the Infrastructure conditions to cover both elife-xpub--prod--1 and elife-xpub--prod--2, as only the first is covered at the moment.

The mailing list needs to be expanded to r

[2019-01-31 14:44] giorgiosironi commented on #1255
Sent two New Relic invites to @SemraSh and @jyenes, with `User` permissions.

[2019-01-31 15:01] giorgiosironi commented on #1255
I have expanded the `xpub-tech-alerts` mailing list so that everyone from YLD is now invited (admin links follows):
https://admin.google.com/u/1/ac/groups/00qsh70q2q609om/members?fc=true
https://admin.google.com/u/1/ac/groups/00qsh70q2q609om/settings?fc=true

[2019-01-31 15:05] giorgiosironi commented on #1255
We triggered a test alert (before adding people however):
![4d28e404-c77b-4eb6-98ba-7b59756db421](https://user-images.githubusercontent.com/160299/52063011-9306c900-2569-11e9-91a8-23ed8618911f.png)

[2019-01-31 15:23] giorgiosironi commented on #1409
Implementations are not satisfactory, see last comments on them. Back to the drawing board keeping the intent of: being able to easily put xpub in a maintenance mode where a designed error page is shown.

[2019-01-31 16:08] giorgiosironi commented on #1380
[code]
So we should be able to do this without backups/restores, just some minutes of downtime.

[2019-01-31 16:16] giorgiosironi commented on #1380
About to try this on `elife-xpub--end2end`.

[2019-01-31 17:17] giorgiosironi commented on #1380
Seems to have worked:
https://github.com/elifesciences/builder/pull/448
https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=elife-xpub-end2end;is-cluster=false;tab=configuration
and it has kept the data:
[code]

[2019-01-31 18:03] giorgiosironi commented on #1380
Applied everywhere.

[2019-01-31 18:04] #1380 closed, assigned to giorgiosironi

[2019-01-31 21:45] diversemix commented on #925
Done with a couple of batch scripts.

Creating a ticket to add these commands to the playbook

[2019-01-31 21:45] #925 closed

[2019-01-31 21:46] diversemix opened #1428 "Add instructions for ejp_name population to Playbook"
@diversemix has a set of commands for doing this

[2019-01-31 21:47] diversemix commented on #925
This ticket is #1421

[2019-02-01 01:10] lsh-0 commented on #1380
cheers @giorgiosironi

[2019-02-01 10:17] diversemix opened #1429 "Wipe production and staging databases"
The other things to note is `ejp_names` table should be considered

[2019-02-01 10:18] diversemix opened #1430 "Check production configuration for email"
Check config `baseUrl`

[2019-02-01 10:19] diversemix opened #1431 "Check production configuration for sftp"
Also check and create the `MECA_API_KEY`

[2019-02-01 10:23] giorgiosironi commented on #1430
Is this what you are after?
https://github.com/elifesciences/builder-configuration/blob/cef111514bc08fb37a11e33cf23376b260672363/pillar/environment-staging-public.sls#L16
https://github.com/elifesciences/builder-configuration/blob/7527baf30d86e1358ba6ce0584d51acc69808511/pillar/environment-prod-public.sls#L28

[2019-02-01 10:25] giorgiosironi commented on #1431
https://github.com/elifesciences/builder-configuration/blob/cef111514bc08fb37a11e33cf23376b260672363/pillar/environment-staging-public.sls#L18
https://github.com/elifesciences/builder-configuration/blob/7527baf30d86e1358ba6ce0584d51acc69808511/pillar/environment-prod-public.sls#L30
are ok in terms of `host`.
https://github.com/elifesciences/builder-private/blob/master/pillar/environment-staging.sl

[2019-02-01 10:41] giorgiosironi commented on #1431
Can easily generate one, but the point is we need to get it to EJP; and prove that the `staging` one has also been sent to EJP.

[2019-02-01 10:42] giorgiosironi commented on #1409
Checked with the larger tech team and standup, and it's best to shelve this for the moment, no easy way to do it without a CDN.

[2019-02-01 10:43] diversemix opened #1432 "Add Tests for Dashboard ordering on update time"
This is tech debt from #1421

Fix the skipped test in `server/xpub-model/model.test.js`

[2019-02-01 10:43] hdrury1 opened #1433 "Test new import validation rules"
New rules have been added to eJP's importer according to the following specification. There should now be a failure callback sent in each instance. Each will need to be tested by manipulating the MECA package:

<img width="657" alt="screen shot 2019-02-01 at 10 42 39" src="https://user-images.githubusercontent.com/17023702/52118415-21cd2180-260e-11e9-8d95-e2d2fab8b943.png">

[2019-02-01 11:37] Cooryd commented on #1430
@giorgiosironi  everything is working as it should, however could you clarify that the config links you've sent in the `builder-configuration` are setting the environment variables being accessed in the app. Seems like theres some serialisation between the builders config value and the variable set? or am I miss-understanding

https://github.com/elifesciences/elife-xpub/blob/05d1324777744111598ae6

[2019-02-01 11:39] Cooryd commented on #1430
<img width="401" alt="screenshot 2019-02-01 at 11 29 47" src="https://user-images.githubusercontent.com/22455561/52120961-f1898100-2615-11e9-9236-eaabb7cd6571.png">

Staging email link to site seems correct. :heavy_check_mark:

[2019-02-01 11:40] giorgiosironi commented on #1430
@Cooryd there is an explicit mapping from these `pillars` to environment variables:
https://github.com/elifesciences/elife-xpub-formula/blob/master/salt/elife-xpub/init.sls#L42-L47

[2019-02-01 11:44] hem-brahmbhatt commented on #1431
FYI, SFTP uses ssh keys, whereas FTP(s) uses a username password. We’re using the latter, even though the config within our code says SFTP.

[2019-02-01 11:48] #1421 closed, assigned to diversemix

[2019-02-01 11:53] giorgiosironi commented on #1431
SFTP is an extension of the SSH protocol so it can use username and password (as the protocol allows); to the best of my knowledge this is what we are using, not FTPS which is an extension to FTP instead?

[2019-02-01 11:58] hem-brahmbhatt commented on #1431
I think this is correct.

[2019-02-01 12:14] hem-brahmbhatt commented on #1431
@diversemix I'm able to connect to the SFTP endpoint in production using plain old FTP with a username and password, which is a security risk: https://www.beyondsecurity.com/scan_pentest_network_vulnerabilities_ftp_clear_text_authentication

[2019-02-01 12:48] diversemix commented on #1433
First completed a submission on staging: `66703b4f-ce3a-4fb3-92a5-76d588c6efdd`

[2019-02-01 13:10] diversemix commented on #1433
Conducting the following tests :
## 00001 - Missing coverletter
[code]

## 00002 - Missing manuscript
[code]
## 00003 - Missing supplementary file
[code]

## 00004 - Missing disclosure
[code]
## 00005 - coverletter zero bytes
[code]

[2019-02-01 13:19] hdrury1 commented on #1433
Also @diversemix we should be getting back both the xPub tracking ID (all instances) and the eJP tracking ID where this exists.

[2019-02-01 13:44] hem-brahmbhatt commented on #1431
Tested out the API key, and am able to successfully make a request using it.

[2019-02-01 13:44] hem-brahmbhatt commented on #1431
Test out the SFTP config for production and it's working correctly.

[2019-02-01 13:44] #1431 closed, assigned to hem-brahmbhatt, SemraSh

[2019-02-01 13:45] hem-brahmbhatt commented on #1431
We're only able to test out the API key once #793 is closed, have moved over the testing task there.

[2019-02-01 14:38] diversemix commented on #1433
@hdrury1 Seeing the following for success:
[code]

[2019-02-01 14:57] hdrury1 opened #1435 "Investigate: Stale manuscript upload"
Unable to delete a manuscript in the process of uploading I deleted a submission and began a new one, but the dropzone molecule remained populated with the same status.

Clearing my db, restarting browser does not seem to work.

/cc @diversemix

<img width="869" alt="screen shot 2019-02-01 at 14 49 26" src="https://user-images.githubusercontent.com/17023702/52130286-a715fd80-2631-11e9-9569-02b8a38

[2019-02-01 15:01] diversemix commented on #1435
Example:
[code]

[2019-02-01 15:20] diversemix commented on #1433
Testing a manuscript with title: "</article-title> Is this valid?" `36f67bf9-89b4-4d92-97ea-950aaf3e298b`

Turns out this worked :+1:

[2019-02-01 15:21] jyenes commented on #1430
checked variables on config files and everything seems to be right

[2019-02-01 15:21] diversemix commented on #1433
Next set of tests ...

## 00006 - Article.xml Bad XML
[code]
## 00007 - Article.xml No manuscript contents
[code]
## 00008 - Article.xml No article type
[code]
## 00009 - Article.xml Bad article type

This test in fact succeeded with a value of `2019`

## 00010 - Article.xml Two authors
[code]
## 00011 - Article.xml One author empty surname
[code]
## 00012 - Article.xml One author empty given-name

[2019-02-01 15:58] diversemix commented on #1433
Next round of tests ... note that test #9 failed by succeeding. I've written to Clara about it and she has responded here: https://elifesciences.slack.com/archives/CDAD612MT/p1549036336023400

/cc @hdrury1

[2019-02-01 16:11] diversemix commented on #1433
Looks like we just asked for "subject_areas" to be validated:

![image 1](https://user-images.githubusercontent.com/8524685/52134750-345e4f80-263c-11e9-923d-25e0aff6409b.png)

[2019-02-01 16:17] diversemix commented on #1433
## 00015 - disclosure.pdf bad PDF

[code]

## 00016 - transfer.xml missing

Does not get processed by the importer - so nothing is doing :cry:

[2019-02-01 16:52] diversemix opened #1436 "Define housekeeping tasks"
1) checking that no zip files are hanging around in the root of the FTP server.
2) check the failure folder in the FTP server....
3) Restart sciencebeam
4) Virus check in S3???

... TBC

@hdrury1 / @giorgiosironi  / @diversemix

[2019-02-01 18:02] #1433 closed, assigned to diversemix

[2019-02-04 09:07] diversemix opened #1437 "Remove the hardcoded email"
see :
[code]

Make it configurable.

[2019-02-04 09:25] diversemix commented on #1437
Turns out that Mr Manering (@diversemix ) panicked just before launch - this is not an issue to fix now and the email is correct. Putting in Backlog

[2019-02-04 09:31] #793 closed

[2019-02-04 09:32] #1255 closed

[2019-02-04 09:37] Cooryd opened #1438 "Add a filestatus value to manuscript that consolidates the upload progress of all linked files"
## Problem / Motivation

Relating to #1361, The manuscript needs to be aware of the upload status of its manuscript and supporting files so that logic can be added to prevent submission to ejp until all files are in S3.

## Proposed solution
A `filestatus` column needs adding to the manuscript table. This will store a enumerated value of `READY` or `CHANGING` which signifies if all related files a

[2019-02-04 10:15] #743 closed

[2019-02-04 10:31] hem-brahmbhatt opened #1439 "Incorrect validation error when no first name given by Orcid"
**Steps to reproduce**
1. Register a new account with Orcid with only a first name (no surname)
2. Login to reviewer.elifesciences.org with the new Orcid account
3. Start a new submission
4. Click 'Pre-fill my details'
5. Click 'Next'
6. Incorrect validation error appears underneath first name

<img width="860" alt="screen shot 2019-02-04 at 10 22 01" src="https://user-images.githubusercontent.com

[2019-02-04 10:33] diversemix commented on #1429
Done database and S3 in prod and staging

[2019-02-04 10:33] #1429 closed, assigned to diversemix

[2019-02-04 10:35] diversemix opened #1440 "Check public bumpf for use of "xpub" not "reviewer""
Check the app's public facing documentation / email and app text for "xPub" when it should be "Reviewer"

/cc @hdrury1

[2019-02-04 10:42] diversemix commented on #1440
Checked static pages ... we do have links to PDFs in the CDN like:
`https://cdn.elifesciences.org/xpub/guides/transparent_reporting.pdf` @hdrury1

[2019-02-04 10:48] diversemix commented on #1440
Looking at the code base - most of the references to the product as xPub is in the `/docs` folder. I'm of the opinion that if you are reading this documentation you will be a developer or at least understand that "Reviewer" is built on pubsweet/xpub.... so I don't think its an issue.

[2019-02-04 10:52] diversemix commented on #1440
Talked with @hdrury1 - we are all ok with this.

[2019-02-04 10:52] #1440 closed, assigned to diversemix

[2019-02-04 10:56] diversemix commented on #1439
My opinion is that this is a low-priority. There is little chance a real scientist is going to register with ORCiD with only their first name

[2019-02-04 12:19] hdrury1 opened #1441 "Google Analytics not recording data"
Google Analytics is currently not recording any data from the Production or Staging environments.

I've installed Google Tag Assistant and get the following (in Prod):

<img width="440" alt="screen shot 2019-02-04 at 12 17 59" src="https://user-images.githubusercontent.com/17023702/52207968-f731d180-2876-11e9-8866-d01d0c956444.png">

I get the following with Google Analytics Debugger:

[code]

[2019-02-04 12:38] diversemix commented on #1441
![ss](https://user-images.githubusercontent.com/8524685/52208813-cacb8480-2879-11e9-9115-c2dd005aec29.png)

[2019-02-04 12:47] diversemix commented on #1441
![test-tid](https://user-images.githubusercontent.com/8524685/52209200-1599cc00-287b-11e9-869d-f488283ab1b9.png)

[2019-02-04 13:06] #1441 closed, assigned to diversemix, hdrury1

[2019-02-04 13:26] hdrury1 opened #1443 "Investigate: How to ensure 100% of users are making initial submissions using xPub platform"
We need a solution to the problem of directing 100% of new submissions through xPub- one that Product, UX and technical are happy with.

This should begin with a discussion with Joel.

[2019-02-04 15:25] hem-brahmbhatt commented on #617
Has been updated.

[2019-02-05 14:33] hdrury1 commented on #298
No longer in scope.

[2019-02-05 14:33] #298 closed

[2019-02-05 14:36] hdrury1 commented on #160
No longer in scope.

[2019-02-05 14:36] #160 closed

[2019-02-06 10:42] hem-brahmbhatt opened #1449 "Multiple "Supporting File" uploads in parallel"

[2019-02-06 10:43] hem-brahmbhatt commented on #1383
Moved into backlog until #1449 is done.

[2019-02-06 10:47] diversemix commented on #1383
@damnhipster ... could you update with the text you put in Slack please?

[2019-02-06 10:48] hem-brahmbhatt commented on #1383
We've decided to park this issue. Instead, we thought it's better to do the work after we've refactored the code in #1449 to support multiple parallel uploads.

It should be easier to do this after we've refactored, and we won't have to write this feature two times (once now and once after refactor).

[2019-02-06 16:04] hem-brahmbhatt opened #1452 "Refactor paths to resolve for ui and global components"
As part of *issue for refactoring paths* and future refactoring, we'll be moving files around. We're currently using relative paths for client-side components, which is a pain to update when refactoring.

We should use Webpack's resolver to create top level paths, so we don't have to rely on relative paths to commonly used components, such as `ui/` and `global/`

See [here](https://github.com/elif

[2019-02-06 16:08] hem-brahmbhatt opened #1453 "Move related files for client-side components to folders"
Create folders for related files as below | or some other way

*Before*
[code]

*After*
[code]

[2019-02-06 16:33] diversemix commented on #1449
@hdrury1 ... Did you put this into ToDo or was it @damnhipster ?

[2019-02-06 16:57] #1449 closed, assigned to jyenes

[2019-02-06 16:58] hem-brahmbhatt commented on #1449
I hadn't noticed that I'd created it in Todo to begin with.

[2019-02-07 10:14] #1452 closed, assigned to SemraSh

[2019-02-07 10:30] hem-brahmbhatt opened #1458 "Re-enable import path linting"
As part of #1452 the linting for import paths was disabled. We should enable this again as it's useful to have when developing and refactoring.

_Originally posted by @Cooryd in https://github.com/elifesciences/elife-xpub/pull/1454_

[2019-02-07 10:41] hdrury1 opened #1459 "Investigate: Improve HotJar recordings"
We have a number of HotJar recordings of users simply clicking around the dashboard or static pages, which doesn't tell us much about the way they are interacting with the submission wizard.

Suggested solution would be to install a Javascript trigger that means the recording only begins once a user begins a new submission.

[2019-02-07 10:42] hdrury1 commented on #1408
Looks like this is an issue with how HotJar renders the recordings, rather than something we can fix our side. Playing the recording in the same browser as the one it was recorded in seems to mitigate the effects.

[2019-02-07 10:42] #1408 closed, assigned to nobody

[2019-02-07 10:48] #1458 closed, assigned to nobody

[2019-02-07 10:53] jyenes opened #1460 "re-introducing code coverage"

[2019-02-07 11:23] diversemix opened #1462 "Tests on develop branch to fail if coverage decreases"
We are going to go through a stage of re-factoring and we should at no time decrease the code coverage. Make sure we cannot commit code that reduces coverage.

- In order to achieve this we will store the overall test coverage in a file within the repo.
- This will get updated when tests are run on the develop branch if the coverage increases (or the same)
- If the coverage decreases this should r

[2019-02-07 13:03] hdrury1 commented on #1459
Have updated settings within our HotJar account itself to begin recording on any page where the URL contains '/submit/'. Will continue to monitor output to see if this is enough.

[2019-02-07 14:32] Cooryd opened #1464 "Ensure New Relic is implementing client side monitoring"
New Relic is currently set up to monitor the server side metrics of requests, errors and load ect. We should ensure that client side monitoring is correctly implemented and configured so that page load times, errors ect. are also being recorded.

[2019-02-07 14:38] diversemix commented on #1430
I checked this out to pre-launch so closing

[2019-02-07 14:38] #1430 closed, assigned to jyenes, Cooryd

[2019-02-07 14:40] diversemix commented on #1409
@hdrury1 ... would be good if we are prepared ... @giorgiosironi I am guessing that at the moment we could use the userfilter to divert people back to eJP ?

[2019-02-07 15:42] diversemix opened #1465 "FileStatus: Add tests to bolster coverage for file set status"
See #1444

[2019-02-07 15:43] diversemix opened #1466 "FileStatus: move scienceBeamApi.js into controller"

[2019-02-07 15:44] diversemix opened #1467 "FileStatus: Move uploadManuscript into controller"

[2019-02-07 15:44] diversemix opened #1468 "FileStatus: Move uploadSupportingFiles into controller"

[2019-02-07 15:50] diversemix opened #1469 "FileStatus: Add virtual attribute for file status"
**Background & context**

Currently there is a bug that allows the user to submit a manuscript while a supporting file is still in the process of uploading. This causes problems generating the `meca` package as the file exists in the database but the file isn't accessible through S3.

Our intended solution is to prevent the user from clicking 'Next' on the file stage of the wizard when  any associ

[2019-02-07 15:52] diversemix opened #1470 "FileStatus: Add it to the graphQL"
add an additional property called `fileStatus` onto the `Manuscript` entity of the graphQL

[2019-02-07 15:53] diversemix opened #1471 "FileStatus: Check before export (error if wrong)"
Currently we run a process at the point of final submission which generates a meca folder for sending to ejp. The aim of this task is to add a validation check over the files being included in this meca package to ensure all files are all in a `STORED` state.

This may need to run a query over all files related to the manuscript, however #1469 aims to add a virtual attribute to the Manuscript enti

[2019-02-07 15:55] diversemix opened #1472 "FileStatus: Add to client validation (error if wrong)"
### Background
Currently the a user can continue through the submission wizard to the submit stage while there are outstanding uploads in progress. This has caused issues with the meca exports not containing the files listed in the manifest.xml (and thus not being imported into ejp). #1471 aims to add server side validation for this to prevent the user being able to submit while files are still up

[2019-02-07 16:01] Cooryd commented on #1465
This relates to the changes to `server/xpub-model/entities/file/index.test.js` on  `https://github.com/elifesciences/elife-xpub/pull/1444/files`

[2019-02-07 16:27] Cooryd commented on #1438
Split into smaller issues #1465-#1472

[2019-02-07 16:28] #1438 closed, assigned to Cooryd

[2019-02-07 16:41] giorgiosironi commented on #1409
That's a very short term solution however since:
- EJP is very soon redirecting 100% of traffic to us
- the user filter will be removed at that time

[2019-02-07 17:19] hem-brahmbhatt opened #1476 "Styleguide is failing on CI"
The styleguide is failing to build and deploy. This is due to #1452.

We should update the webpack config for the styleguide, and possible any other webpack configs left to do, to contain the updated resolver.

You can see the failed build here: https://alfred.elifesciences.org/blue/organizations/jenkins/pull-requests-projects%2Felife-xpub/detail/PR-1474/2/pipeline/39/

[2019-02-07 17:24] Cooryd commented on #1476
The aliases are defined in the common resolver https://github.com/elifesciences/elife-xpub/blob/edf77a77a096e8377a9b1995465a0c026952f0d8/webpack/common-resolve.js this should be getting imported and applied in the `resolvers` part of all webpack config files. A starting point for the investigation.

https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md#resolver

[2019-02-07 18:13] diversemix commented on #1337
Weird deadlock  - https://alfred.elifesciences.org/blue/organizations/jenkins/pull-requests-projects%2Felife-xpub/detail/PR-1478/1/pipeline/

[2019-02-07 18:26] diversemix opened #1479 "Coverage reporting generates errors"
Typical Error:
[code]

For fix see
https://github.com/facebook/jest/issues/6053#issuecomment-383632515

[2019-02-08 10:13] #1476 closed, assigned to SemraSh

[2019-02-08 10:44] diversemix opened #1480 "No emails are being sent to xpub-alerts on submission"

[2019-02-08 10:57] diversemix commented on #1480
Talked with @hdrury1 ... `xpub-alerts` has been reserved just for errors .... raising a new issue to confirm our understanding on how  `xpub-alerts` vs `xpub-tech-alerts` are used.

[2019-02-08 10:57] #1480 closed, assigned to diversemix

[2019-02-08 11:00] diversemix opened #1481 "Define how email alerts are used"
There is a misunderstanding of when `xpub-alerts` vs `xpub-tech-alerts` are used. We need to ensure there is a common understanding and a defined list of points when they get called.

[2019-02-08 11:22] #1465 closed, assigned to jyenes, SemraSh

[2019-02-08 11:27] #617 closed

[2019-02-08 15:18] SemraSh opened #1483 "Refactor: file structures"
Changing component files to have their own directories, with the below structure.

#### ComponentsName

[2019-02-08 16:25] hdrury1 opened #1484 "Whitelist input fields for HotJar recordings"
Currently, text input fields are suppressed by default on HotJar screen recordings. This behaviour can be overwritten so that we can view users' keystrokes.

The data is not private since we are recording it all in the MECA package.

See https://help.hotjar.com/hc/en-us/articles/115015563287-Whitelisting-input-fields for documentation.

[2019-02-09 08:59] diversemix opened #1487 "Quick fix - Stuck at 99% uploading"
Issue came in via user: Date: Fri, 8 Feb 2019, 22:56

Hello Susanna,

... We are trying to submit a manuscript to eLife, and we received an email to use the new interface. However, while we were trying to upload our manuscript, we were stuck on the 99% uploading. Then we tried to delete the submission request and create a new submission, the manuscript uploading text box is stuck on 99% even thoug

[2019-02-09 09:02] diversemix commented on #1487
We had a New Relic alert about the same time...

https://alerts.newrelic.com/accounts/1451451/incidents/56409231/violations

[2019-02-09 11:18] acollings commented on #1487
![image](https://user-images.githubusercontent.com/43173300/52520042-62efb200-2c5c-11e9-8a65-b1bb89cab1cb.png)
This was the screenshot they sent.

[2019-02-09 12:06] diversemix commented on #1466
Closed by mistake

[2019-02-09 21:58] acollings commented on #1487
Description of the experience/issue (I can retrieve the file on Monday if that helps):

We managed to stumbled across the old interface and successfully submitted our paper.

We went on the eLife website, then clicked log in. We then used the Institutional account to log in ORCID. We went back to the eLife website and click Submit My Research. I believe this is when we receive the email if we were

[2019-02-11 07:41] diversemix opened #1488 "Update lodash"
two repositories are affected by the new lodash vulnerability:
https://nvd.nist.gov/vuln/detail/CVE-2018-16487

Fastly-iiif
xpub-responsive-proto

See #4739

[2019-02-11 07:48] Cooryd commented on #1487
Some thoughts I've had regarding this issue over the weekend:

The subscription thats opened to relay updated progress is only defined as `ON_UPLOAD_PROGRESS.${userId}` in the `uploadManuscript` controller function. This would mean having two or more uploads happening in parallel would be sending the same message key. We should maybe look at appending the `manuscriptId` of the file to the message

[2019-02-11 08:36] diversemix commented on #1488
PR approved... https://github.com/elifesciences/xpub-responsive-proto/pull/1

[2019-02-11 09:39] diversemix commented on #1487
Notes for phone conversation this morning:

We agreed that this will be broken down into 4 separate issues, the first of this will be fixed on this ticket, the latter three with be raised and xref'ed on here:

- Make the upload progress by keyed on `Manuscript.id` and `File.id` *Ticket* #1487
- Fix the ordering of the client side checks of error and converting (see #1486) *Ticket* #1490"
- Investi

[2019-02-11 10:06] #1466 closed, assigned to SemraSh

[2019-02-11 10:22] diversemix commented on #1487
@giorgiosironi ... I've noticed you've acknowledge the NewRelic Alert. If you have anymore information on this can you comment / xref on here please :smile:  :+1:

[2019-02-11 10:26] hdrury1 opened #1489 "Update journal metrics"
The journal metrics page within the author guide should be updated to reflect the latest figures.

[chart.js.zip](https://github.com/elifesciences/elife-xpub/files/2850628/chart.js.zip)

[2019-02-11 10:30] hdrury1 commented on #1487
Please note that I also encountered this bug. @diversemix monitored me starting/deleting several new submisisons and saw the stale manuscript persisting in the database:

Example:
[code]

[2019-02-11 10:30] hdrury1 commented on #1435
Closing and copying over to #1487

[2019-02-11 10:30] #1435 closed, assigned to nobody

[2019-02-11 10:40] jyenes commented on #1470
closed by mistake

[2019-02-11 10:43] #1470 closed, assigned to SemraSh

[2019-02-11 10:55] diversemix opened #1490 "Investigate: Ordering of the client side checks of error and converting"
See #1446 & #1487

Currently the client displays the content of the upload area based on a number of different props passed to the `ManuscrioptUpload` component. These props are evaluated to determine what 'state' the upload is in. This can be:

- Converting (an upload is in progress)
- Error (Somethings either gone wrong or the client side validation has kicked in)
- Completed (A file has been su

[2019-02-11 10:57] diversemix opened #1491 "Investigate the cause of the progress stuck at 99% in Production"
See #1487

There was a sequence of event that resulted in an error on the server (ScienceBeam?) that resulted in the state that the user saw of the manuscript upload being stuck at 99%.

Use Loggly to investigate and raise issues accordingly

[2019-02-11 10:58] diversemix opened #1492 "Breakdown and fix the server `upload` function"
See #1487

When an error occurs in the is function the final graphQL subscription message should always be sent. Currently we are not handling these errors correctly and so the final message is not being sent in this case.

Adding the necessary error handling will turn this huge function into a mother-of-all-sperm-whales of a function...

... so it would be good to split it up so we can see where

[2019-02-11 11:01] diversemix opened #1493 "Investigate the use of subscriptions on file upload, including Pubsweet"
Learn about the `pubsub` use within xPub.

Can we extend the `subscription` schema

/cc @Cooryd

[2019-02-11 11:10] giorgiosironi commented on #1491
[Exhausting memory](https://infrastructure.newrelic.com/accounts/1451451/hosts?filters=%7B%22and%22%3A%5B%7B%22is%22%3A%7B%22entityName%22%3A%22elife-xpub--prod--1%22%7D%7D%5D%7D&timeEnd=1549710420000&timeStart=1549587600000) is likely the cause:
![f59f5d6d-0874-4c3f-bbd3-0c954dd5089f](https://user-images.githubusercontent.com/160299/52559582-84cc6e80-2ded-11e9-863d-8915349991b7.png)
But we don't

[2019-02-11 11:14] giorgiosironi commented on #1491
It was a Java process ([in yellow](https://infrastructure.newrelic.com/accounts/1451451/processes?filters=%7B%22and%22%3A%5B%7B%22or%22%3A%5B%7B%22like%22%3A%7B%22apmApplicationNames%22%3A%22%7Celife-xpub--prod%7C%22%7D%7D%5D%7D%5D%7D&scope=New%20filter%20set&timeEnd=1549883580000&timeFocused=1549645980000&timeStart=1549587600000), black is just the average of all processes):
![screenshot_2019-02-

[2019-02-11 11:18] giorgiosironi commented on #1491
It seems [both hosts were potentially affected](https://infrastructure.newrelic.com/accounts/1451451/hosts?filters=%7B%22and%22%3A%5B%7B%22or%22%3A%5B%7B%22like%22%3A%7B%22apmApplicationNames%22%3A%22%7Celife-xpub--prod%7C%22%7D%7D%5D%7D%5D%7D&timeEnd=1549883580000&timeFocused=1549645980000&timeStart=1549587600000&scope=New%20filter%20set):
![screenshot_2019-02-11 infrastructure by new relic 1](ht

[2019-02-11 11:23] diversemix commented on #1491
This is likely to be grobid ... @de-code - would this be your diagnosis too?
Restarting this on a regular basis - might be part of #1436

[2019-02-11 11:31] diversemix opened #1495 "Look into EJP import failure"
ID `a9fc13af-4c94-44a0-ae51-34ab58b666d5`

[2019-02-11 11:39] diversemix commented on #1495
[code]

[2019-02-11 11:55] de-code commented on #1491
Yes, GROBID will likely be the Java process. Did it get OOMed?

Not sure whether we talked about it before, does the machine maybe not have enough memory?

[2019-02-11 12:07] #1467 closed, assigned to diversemix, Cooryd

[2019-02-11 12:31] diversemix opened #1496 "xpub-tech-alerts not working in production"
We've had an EJP failure in production and no email was sent ...

[code]

[2019-02-11 14:03] hdrury1 commented on #1495
Ideally we can fix this and restart the import. If not, we should send MECA package to the Editorial team for them to manually populate an initial submission.

[2019-02-11 14:14] hdrury1 opened #1497 "Export cover letter as PDF"
Currently, we convert the author's cover letter into a HTML file before export in the MECA package, and this is resulting in some unwanted behaviour in eJP. We should export the file in PDF format instead.

Note that, once we are no longer integrating with eJP, we will want to retain the HTML format so that we can display the cover letter within the application.

[2019-02-11 14:16] hdrury1 opened #1498 "Add Research Advance link to Login screen"
On their dashboards, we currently direct authors of Research Advances to submit via eJP. We should make this clear to authors who have not yet logged in to the system by displaying the link on the Login screen too.

//cc @chugginselifesciences I didn't know if you wanted to add a mockup for this?

[2019-02-11 14:19] hdrury1 opened #1499 "Add links to Terms and Conditions and Privacy Notice to footer of dashboard"
These appear in the dashboard and login screen footer of eJP:

<img width="1234" alt="screen shot 2019-02-11 at 14 18 06" src="https://user-images.githubusercontent.com/17023702/52568948-ffa28300-2e07-11e9-972b-0530b6c3c78d.png">

//cc @chugginselifesciences did you want to add mockup(s) for the placement of these links in xPub? Should they appear at the global nav level?

[2019-02-11 14:40] hem-brahmbhatt commented on #1468
Closed by #1494

[2019-02-11 14:40] #1468 closed, assigned to jyenes

[2019-02-11 14:54] hem-brahmbhatt commented on #1488
`elife-xpub` is also affected.

[code]

[`react-hot-loader` hasn't fixed the issue yet](https://github.com/gaearon/react-hot-loader/blob/master/package.json#L106). We should attempt to lock the dependency on our side using [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/)

[2019-02-11 15:37] hem-brahmbhatt opened #1500 "Upgrade testcafe to 1.0.0"
- Upgrade testcafe to [version 1.0.0](https://github.com/DevExpress/testcafe/releases/tag/v1.0.0).
- Remove the lodash resolution in `package.json`, as the upgraded testcafe now relies on a newer version of lodash, so the resolution introduced in #1501 is no longer needed.

[2019-02-11 16:46] jyenes commented on #1496
I realised the `from` field has not been set, I introduce the field and I got an email on ethereal mail

[2019-02-11 16:47] diversemix commented on #1495
Yes @acollings I will send you the package via `editoral@elifesciences.org`

May be EJP cannot handle file names with a space in?

[2019-02-11 16:49] hem-brahmbhatt opened #1502 "Add docs on how to send requests to the GraphQL API"
We've had times when we've needed to test the GraphQL API after making changes to it.

For example: https://github.com/elifesciences/elife-xpub/pull/1486#issuecomment-462302010

We should update the docs to include instructions on how to send requests to the API.

- [ ] add some examples of graphQL clients
- [ ] instructions on how to write graphQL queries
- [ ] instructions on how to add Authoriz

[2019-02-11 16:54] diversemix commented on #1495
@hdrury1 ... closing this issue - will potentially open another if necessary after Clara get's back to us.

[2019-02-11 16:54] #1495 closed, assigned to diversemix

[2019-02-12 07:26] #1488 closed, assigned to hem-brahmbhatt, diversemix

[2019-02-12 08:22] diversemix opened #1505 "[xpub-edit] paragraph breaks are not captured correctly"
See https://gitlab.coko.foundation/pubsweet/pubsweet/issues/440

[2019-02-12 08:48] diversemix opened #1506 "Investigate blank disclosure.pdf"
We have found a MECA package with a blank `disclosure.pdf` (`a9fc13af-4c94-44a0-ae51-34ab58b666d5-meca.zip`)

Investigate

[2019-02-12 08:53] diversemix commented on #1506
Checking:

`15a2f7cc-9c18-4b76-97ff-ac033e18c1b2-meca.zip` - blank
`e5909b90-79d9-4562-864d-55d7d259319f-meca.zip` - blank
`f168e4c9-0c0c-435e-81a9-0d2b6309110f-meca.zip` - blank

Looks like they all are!

/cc @hdrury1

[2019-02-12 08:53] #1506 closed, assigned to diversemix

[2019-02-12 08:53] diversemix opened #1507 "Fix blank disclosure.pdf"
The MECA package is exporting blank disclosure pdf(s)

- Add tests
- Then fix

[2019-02-12 10:56] hdrury1 commented on #1225
Closed by mistake

[2019-02-12 10:58] #1460 closed, assigned to jyenes

[2019-02-12 14:03] diversemix commented on #1507
https://github.com/mozilla/pdf.js/issues/5768#issuecomment-120771729

[2019-02-12 16:06] hdrury1 opened #1508 "Investigate: incorrect version of Login screen showing"
**Steps to recreate**

1) Navigate to reviewer.elifesciences.org and observe login screen with green 'Login with ORCiD' button (and see I am logged in from a previous session)

<img width="488" alt="screen shot 2019-02-12 at 16 01 36" src="https://user-images.githubusercontent.com/17023702/52649207-c9d0cd80-2edf-11e9-8116-070ae0cc0e1f.png">

2) Click 'Login with ORCiD'. Observe login screen with b

[2019-02-12 17:39] chris-huggins commented on #1499
I'm wondering if we can "move" them to the author/reviewer guide type content.

Do they have to be visible on the dashboard?

[2019-02-13 07:37] diversemix opened #1510 "Disclosure has incorrect signatory"
The signatory of the data disclosure does not appear in the pdf. Instead this is the author

[2019-02-13 08:18] diversemix opened #1511 "Retro fix disclosure.pdf for editoral"
Following #1507 ... we need to ensure that the previous `disclosure.pdf` files that have been generated in production are fixed/recreated to be correct. This may entail creating a script.

Currently the list looks like:

[code]

[2019-02-13 10:01] Cooryd opened #1513 "Investigate: Stuck at 99% when uploading manuscript"
**Describe the bug**

See #1487 for full context.

It has been reported that a manuscript upload can become 'stuck' at 99%. This should be investigated to see if there are any improvements that can be made to prevent this from happening.

**Steps To Reproduce**

This is the part that needs investigating.

As a starting point it may be worth looking for any scenarios where the `setInterval` that is

[2019-02-13 10:18] Cooryd commented on #1513
Closed as #1491 exists for this investigation

[2019-02-13 10:18] #1513 closed, assigned to nobody

[2019-02-13 10:19] Cooryd commented on #1491
From close #1513
---
**Describe the bug**

See #1487 for full context.

It has been reported that a manuscript upload can become 'stuck' at 99%. This should be investigated to see if there are any improvements that can be made to prevent this from happening.

**Steps To Reproduce**

This is the part that needs investigating.

As a starting point it may be worth looking for any scenarios where the

[2019-02-13 10:37] diversemix commented on #1511
@acollings ... Had a conversation with @hdrury1 about how to tackle this. We are going to recreate the PDFs for these submissions.

The data is still present in the ones that appear blank (they were just encoded incorrectly) - but extracting and re-encoding would be a significant task. However, if ever the need arose that we needed to extract this information (in the event of a dispute) I suggest

[2019-02-13 10:40] Cooryd commented on #1490
As a note, currently if the user tries to upload an invalid file type,  then begins uploading a new file, the component still has the previous error message in state. This was the reason for rejecting #1446

[2019-02-13 10:54] #1487 closed, assigned to Cooryd

[2019-02-13 10:54] #1507 closed, assigned to diversemix

[2019-02-13 10:55] acollings commented on #1511
Hi @diversemix, thanks for the update. I'm not worried about the ones submitted to date, but it would be good to ensure that the disclosure PDFs work as expected going forward. Let me know if you'd like to discuss, or if I've misunderstood!

[2019-02-13 10:55] Cooryd commented on #1493
This was addressed as part of issue #1487 and resolved as part of PR #1504

[2019-02-13 10:55] #1493 closed, assigned to Cooryd

[2019-02-13 11:35] #1510 closed, assigned to diversemix

[2019-02-13 12:28] hdrury1 commented on #1499
@acollings the best person to address that question. My understanding is these are currently hosted on the Journal site, so for a quick fix I'm happy to just link out.

[2019-02-13 12:39] hdrury1 commented on #1511
@diversemix I'm getting that we don't need to worry about regenerating the PDFs for these- it's enough to know that we've got the information to hand should we ever need it. I'm going to close this issue accordingly, so we can focus on fixing the bug.

[2019-02-13 12:39] #1511 closed, assigned to diversemix

[2019-02-13 13:18] acollings commented on #1499
Hi @chugginselifesciences and @hdrury1. I asked Paul K and they need to be visible from the point we start collecting personal information, which in this case means https://reviewer.elifesciences.org/login, I think. By global nav level, does that mean"Author guide | Reviewer guide | Contact us? If so, I think that's the most sensible place for the links.

I would also recommend linking out to http

[2019-02-13 13:43] giorgiosironi commented on #1496
Isn't this `xpub-alerts`? I receive emails from `xpub-tech-alerts`.

[2019-02-13 13:44] giorgiosironi commented on #1491
Yesterday we had a similar alert on memory usage reaching 85% (and the host ceasing to report to New Relic):
https://infrastructure.newrelic.com/accounts/1451451/hosts?filters=%7B%22and%22%3A%5B%7B%22is%22%3A%7B%22entityName%22%3A%22elife-xpub--prod--2%22%7D%7D%5D%7D&timeStart=6%20hours%20ago

[2019-02-13 13:45] chris-huggins commented on #1499
Will do. Thanks for your help @acollings

[2019-02-13 14:41] #1496 closed, assigned to hem-brahmbhatt, Cooryd

[2019-02-14 08:57] diversemix commented on #1462
On second thoughts this should be perhaps done on merging to develop

[2019-02-14 09:13] Cooryd commented on #1462
Agreed, per commit might make it harder to get work into a branch for visibility. Could become more of a hinderance than anything else. Could this be checked in CI

[2019-02-14 09:46] diversemix commented on #1462
@jyenes / @damnhipster / @Cooryd

Apologies for the not-so-well-thought-out ticket ... I've updated this ticket (totally my bad)

[2019-02-14 10:07] hem-brahmbhatt commented on #1462
I think it's useful to have this when running against PRs, rather than just on develop, where we'll then need to create another PR to fix develop. Having this run at the end of the tests should give us enough visibility and the chance to fix the coverage while giving us the opportunity to commit unfinished pieces of work.

[2019-02-14 10:18] hem-brahmbhatt opened #1519 "Test email alert when MECA import fails"
Test the results of #1496.

_Can this be tested in Staging?_
Yes, we have the outgoing mail server setup in Staging.

_How can we simulate a MECA import failure?_
Request the callback URL with a failure state.

[2019-02-14 10:45] Cooryd opened #1520 "Write tests for controller helper functions"
## Background

As part of #1492 the `manuscript` controllers `upload` function was simplified by splitting out the functionality into smaller steps and placing these in helper functions. One of the aims of this re-factoring task was to make the individual pieces of functionality easier to test as they now sit in the stand alone functions rather than the controller classes function.

This task invo

[2019-02-14 10:53] Cooryd opened #1521 "Clear the interval set to send upload progress when a process fails on manuscript upload"
## Subtasks

As part of #1492 the `upload` function on the `manuscript` controller was broken down into smaller helper functions for each stage of the upload process. One of the reasons for doing this is there is currently a bug in the code that causes the app to continue sending the client 99% progress messages when one of the processes fails but the interval being used to send progress messages

[2019-02-14 11:11] hdrury1 opened #1522 "Investigate: How to improve browser performance"
A user has reported the People Picker in particular to be virtually unusable in Yosemite/Safari 10.1.2. Investigating on BrowserStack gives the following user experience (Yosemite/Safari 8):

<img width="478" alt="screen shot 2019-02-14 at 10 47 29" src="https://user-images.githubusercontent.com/17023702/52782983-59918b80-3048-11e9-9435-05dbb4b3842d.png">
<img width="326" alt="screen shot 2019-02-

[2019-02-14 12:44] hem-brahmbhatt commented on #1519
I've been unable to test in Production and Staging so far. In both environments, I get the following error:

_In Staging:_
[code]

I've executed the script directly on Staging to rule out any access issues. I get the same error when executing the script from my local machine.

[2019-02-14 12:53] hem-brahmbhatt commented on #1519
I've been unable to reproduce the issue locally. Instead I get the following error:

[code]
_Logs from local server:_
[code]

Raised #1523 to fix this.

[2019-02-14 14:42] hem-brahmbhatt opened #1524 "Investigate: Adding coveralls for coverage reports"
We currently manage our own coverage reporting to let us know if our test coverage is below accepted levels. Coveralls is a service which manages this for you.

https://coveralls.io/

- Integrates with Github
- Free on open source repositories
- Means we don't have to manage our own coverage reporting

Investigate the following:
- [ ] what steps are needed to add this to `elife-xpub`?
- [ ] what s

[2019-02-14 23:16] g-sam opened #1525 "RFC: Organise styleguide (337)"
If https://gitlab.coko.foundation/pubsweet/pubsweet/issues/336 is accepted we will have only one styleguide for all components. This will need to be better structured than it currently is. Something like this:

* Atoms
    1. Input
        * Buttons
        * Text
        * Selects
        * Radios
        * etc.
    2. Display
        * Text
        * Layout
        * Modals
        * Spinners

[2019-02-14 23:32] g-sam opened #1526 "Make styleguide presentation spaces resizable (380)"
To be like this: https://ui-patterns.elifesciences.org/?p=pages-article--charts

Tracking: https://gitlab.coko.foundation/pubsweet/pubsweet/issues/380

[2019-02-14 23:33] g-sam opened #1527 "Visual regression testing for styleguide (365)"
This is particularly useful to run locally when refactoring components to check that you haven't accidentally broken anything. It may not make sense to integrate into CI until the components have stabilised a bit.

I got quite far with [React Styleguide Visual](https://github.com/unindented/react-styleguidist-visual) but there are a [few](https://github.com/unindented/react-styleguidist-visual/iss

[2019-02-15 08:44] diversemix opened #1528 "Implementing ScienceBeam Feedback loop"
Whenever there is a change to the manuscript title log the change out (along with the manuscript id).
This will allow the logs to be parsed to generate a set of incorrectly extracted titles to train sciencebeam with.

I think this is the bear minimum - we could also store the extracted title in the database - that way we can maintain the history.

/cc @de-code

[2019-02-15 08:58] Cooryd commented on #1491
I would take a guess that https://github.com/elifesciences/elife-xpub/blob/97818f90cbf3132fa4bb70472778528daed5026d/server/xpub-controller/manuscript.js#L117 is the point of execution that threw the error if it relates to science beam being the eater of memory. We're going to try to better deal with the client impact of this issue in #1521 but this won't resolve the root cause of the error thrown

[2019-02-15 14:21] #1492 closed, assigned to jyenes, SemraSh

[2019-02-15 15:11] hem-brahmbhatt commented on #1519
I've been using IDs from the local postgres container rather than the actual databases 🤦‍♂️

[2019-02-15 15:23] diversemix opened #1533 "Hem to notify people of discontinuation of AWS hosting by YLD"
## Assumptions and notes
- We currently pay an AWS bill from YLD which will be discontinued by the end of March
- Hem to ensure all those affected are made aware (currently I believe this is just Coko)

/cc @damnhipster , @hdrury1 , @BlueReZZ

[2019-02-15 15:50] hem-brahmbhatt commented on #1533
The only deployments on the cluster are Pubsweet review environments. I have contacted Jure to inform him about the future of the cluster.

The new cluster is within a private subnet within elife, so it's not something that can be used to host Pubsweet's review environments.

[2019-02-18 10:08] #1462 closed, assigned to jyenes

[2019-02-18 10:44] hem-brahmbhatt opened #1537 "Upload progress going from 0 to 100% instantly after upload completes"
**Steps to reproduce:**
1. Create a new submission
2. Upload a manuscript source
3. Upload progress going from 0 to 100% instantly after upload completes.

Instead, the upload progress should be indicating the progress while uploading.

#1492 seems to have introduced this problem.

[2019-02-18 10:51] hem-brahmbhatt commented on #1537
Fixed by https://github.com/elifesciences/elife-xpub/pull/1531

[2019-02-18 10:51] #1537 closed, assigned to Cooryd

[2019-02-18 10:55] hem-brahmbhatt opened #1538 "Fix the server `upload` function"
This was originally done as part of #1492, but had to be reverted due to a bug related with the upload progress, which was captured in #1537.

We should reintroduce the fix, and fix the upload progress issue that had been introduced as part of the original fix.

- [x] re-introduce #1492 code
- [x] fix the bug
- [ ] create test that covers the failure

[2019-02-18 12:39] hem-brahmbhatt commented on #1533
Jure has agreed that we can delete the review environments.

[2019-02-18 14:09] hem-brahmbhatt opened #1541 "Use NODE_CONFIG_ENV to prefix emails with the environment"
Addresses https://github.com/elifesciences/elife-xpub/pull/1534#pullrequestreview-204671001

We should refactor out the mailer so we can do the subject prefix logic in there, and write a separate test for the new mailer module to test the prefix logic.

[2019-02-18 15:03] hem-brahmbhatt opened #1542 "Update NewRelic apdex alert threshold to 1 second"
The threshold is currently set to 0.1 seconds. Our average response time on the /ping endpoint is 118ms, so we keep getting alerts in our emails from New Relic.

Given that our average response time on /graphql is 700-800ms, we should change the alert threshold to 1000ms.

You can change the setting here: https://rpm.newrelic.com/accounts/1451451/applications/162983119/settings-application

[2019-02-18 15:09] giorgiosironi commented on #1542
Setting changed, the output was that the agents should restart. Monitoring the open alert.

[2019-02-18 15:10] hem-brahmbhatt commented on #1519
Tested in Staging, and email was received on xpub-tech-alerts@gmail.com

<img width="532" alt="screen shot 2019-02-18 at 15 09 43" src="https://user-images.githubusercontent.com/2573277/52959869-49064b80-338f-11e9-9423-b7ff56ad714a.png">

[2019-02-18 15:10] #1519 closed, assigned to hem-brahmbhatt

[2019-02-18 15:11] giorgiosironi commented on #1542
[Apdex has jumped up to 0.85](https://rpm.newrelic.com/accounts/1451451/applications/162983119/) so at least the alert should be closed soon.

[2019-02-18 15:17] giorgiosironi commented on #1542
https://alerts.newrelic.com/accounts/1451451/incidents/57259336 is now closed.

[2019-02-18 15:25] giorgiosironi opened #1543 "Notify #xpub-tech of build failures"
## Subtasks

- [x] Create [incoming webhook](https://elifesciences.slack.com/services/BG9TJTVNW?added=1) for ~`#xpub-tech`~ generic Slack channels
- [x] Introduce `elife.vault-approle` for `elife-alfred--prod`
- [x] Extend `elifeSlack` allowing a channel to be passed in
- [x] Use `elifeSlack` from `elifePipeline` to notify the channel named in `maintainers.txt`
- [x] `xpub-tech`
- [x] `profiles`
-

[2019-02-18 16:22] hem-brahmbhatt opened #1544 "Friday's post-mortem (2018-02-18)"
https://github.com/elifesciences/elife-xpub/pull/1539

[2019-02-18 17:17] diversemix opened #1546 "Figure out what is wrong with the tests"
Putting I  a setTimeout of 200ms into createTables causes all sorts of catastrophes.

This should of course work. I'm figuring this is the same issue as the pipeline due to it being timing in the environment.

[2019-02-19 08:11] diversemix commented on #1546
Having looked through the failures in the pipeline they all appear to have this message at the start of the failures:
[code]

See https://jestjs.io/docs/en/jest-object.html#jestsettimeouttimeout

Going to add this in to see what happens

[2019-02-19 10:12] hem-brahmbhatt commented on #1542
All incidents and warnings have been closed automatically.

<img width="1280" alt="screen shot 2019-02-19 at 10 11 26" src="https://user-images.githubusercontent.com/2573277/53007252-c765fa80-342e-11e9-9dea-a2464c368e6d.png">

[2019-02-19 10:12] #1542 closed, assigned to giorgiosironi

[2019-02-19 10:13] #1544 closed, assigned to hem-brahmbhatt

[2019-02-19 10:14] #1546 closed, assigned to diversemix

[2019-02-19 11:03] giorgiosironi opened #1548 "Increase EC2 instance size to allow memory for Grobid"
@de-code:
<blockquote>
I mentioned it before, I think we should give it more memory in general. It has it's Java heap limited to 1 GB but the models are loaded out-of-heap, and there are other things loaded out of heap. The default Java heap is set at 4 GB actually. 4 GB for the machine seems a bit tight (and it's sharing it with node). Having 8 GB available seems more fair. Not to say that we sho

[2019-02-19 15:51] #1538 closed, assigned to jyenes, Cooryd, SemraSh

[2019-02-19 17:47] giorgiosironi commented on #1548
`InstanceType` requires [interruptions](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-instance.html) so I'll try to do it one instance at a time.

[2019-02-19 18:40] giorgiosironi commented on #1548
Got as far as recreating node 1 as a `t2.large`, but it stopped on the refused minion key without error. Repairing it but this should fail sooner.

[2019-02-20 10:21] hem-brahmbhatt opened #1551 "Finish refactoring upload controller"
Address the comments left on https://github.com/elifesciences/elife-xpub/pull/1536

The specific comments are:
- [x] https://github.com/elifesciences/elife-xpub/pull/1536#discussion_r258042165
- [x] https://github.com/elifesciences/elife-xpub/pull/1536#discussion_r258060139
- ~https://github.com/elifesciences/elife-xpub/pull/1536#pullrequestreview-205245678~

_Make sure the comments aren't already

[2019-02-20 11:44] hdrury1 commented on #1497
[code]

[2019-02-21 10:48] jyenes commented on #1490
this issue is no longer needed, as the work required was moved to the backend side
see #1492, #1517, #1535, with this work done in the backend we can ensure the client side is no longer hanging when uploading a new manuscript, as we are handling the errors properly in the backend side.

[2019-02-21 10:48] #1490 closed, assigned to jyenes

[2019-02-21 10:58] Cooryd opened #1553 "Investigate: Using jest mock classes instead of real model classes"
### Background
Currently the majority of our tests have a dependency on the database. This has been causing the following issues for us:
- Intermittent deadlock issues on CI. With less tests dependant on the database, there's a lower chance of this occurring, and it makes it easier to trace/address.
- Lots of setup needed when writing tests, including database setup, setting up models due to forei

[2019-02-21 11:11] jyenes commented on #1484
@hdrury1 what are the input field do you want to whitelist?

[2019-02-21 11:18] SemraSh opened #1554 "Write tests for controller helper functions PART2"
This ticket is the second part of writing tests for controller helpers, see https://github.com/elifesciences/elife-xpub/issues/1520 for the first part.
This ticket covers the functions below
extractFileTitle
cleanOldManuscript

[2019-02-21 11:19] SemraSh opened #1555 "Write tests for controller helper functions PART3"
This ticket is the third part of writing tests for controller helpers, see https://github.com/elifesciences/elife-xpub/issues/1520 for the first part and https://github.com/elifesciences/elife-xpub/issues/1554 for the second part.
This ticket covers the functions below
setManuscriptMetadata
validateManuscriptSource

[2019-02-21 11:24] SemraSh commented on #1520
This ticket will be closed after testing part of the functions in xbup-controller helpers

[code]

the rest of the functions are tested in these tickets --> #1554 and #1555

[2019-02-21 11:25] #1520 closed, assigned to hem-brahmbhatt, SemraSh

[2019-02-21 11:47] hdrury1 commented on #1484
@jyenes Everything (I think HotJar doesn't allow us to capture email address, but we should capture everything else). We don't capture anything sensitive and everything is exported in the MECA file anyway.

So:

First name, last name, institution and input into the search bar in the people picker

[2019-02-21 12:56] hdrury1 commented on #1484
Concerns have been raised that this work is going to put us in breech of eLife's privacy policy, given that we are recording this information without explicit consent. I am looking into it, but please hang fire for now. We may need to explore other options for anonymously logging the use of the search box in the People Picker, which is what Product are particularly interested in.

[2019-02-21 13:35] #1521 closed, assigned to hem-brahmbhatt, Cooryd

[2019-02-21 13:39] jyenes commented on #1484
ok closing this then.

[2019-02-21 13:39] #1484 closed, assigned to jyenes

[2019-02-21 14:36] hdrury1 opened #1557 "Suppress cover letter input and profile menu from HotJar recordings"
It's come to our attention that HotJar screen recordings are not suppressing input into the cover letter editor or the name displayed in the profile menu, which means that certain recordings can be linked to a named user.

This is undesirable behaviour and we should work to completely anonymise these recordings.

See documentation here: https://help.hotjar.com/hc/en-us/articles/115012439167-Suppre

[2019-02-21 16:21] hem-brahmbhatt opened #1560 "Fix broken deployments in production"
Deployments to production are not working.

https://alfred.elifesciences.org/view/elife-xpub/job/prod-elife-xpub/97/

[2019-02-21 16:42] diversemix opened #1561 "MECA: Remove unicode from filenames"
EJP cannot store unicode in the database - so we need to remove any unicode from the filenames on export

[2019-02-21 17:09] hem-brahmbhatt commented on #1560
`prod--xpub--2.elife.internal` was having issues when trying to recreate the docker containers during deployments.

The deployment output was the following:
[code]

From there, we noticed that the grobid container was failing to recreate. We pulled the following data from the docker process on the host:
<img width="964" alt="screen shot 2019-02-21 at 15 52 35" src="https://user-images.githubuserco

[2019-02-21 17:09] #1560 closed, assigned to hem-brahmbhatt

[2019-02-21 17:54] hem-brahmbhatt commented on #1555
`setManuscriptMetadata` may need to be broken down further. The function is also responsible for changing the pending file to the source file, which is at odds with the name of the function.

https://github.com/elifesciences/elife-xpub/blob/324cc9c0e1dac14acbdf55735b7a1a153cde68ec/server/xpub-controller/helpers/files.js#L151-L166

[2019-02-22 09:03] diversemix commented on #1560
@hdrury1 /cc @giorgiosironi  ... Shall we place this in todo?  #1436

[2019-02-22 09:07] diversemix commented on #1491
@jyenes ... can you comment on why this was re-opened?

[2019-02-22 09:10] jyenes commented on #1491
It was in TODO column and I closed by mistake, so I left it in the same status that it was before

[2019-02-22 09:30] Cooryd opened #1563 "Clean db of manuscript source files if upload fails"
**Describe the bug**

Currently we run a function called `validateManuscriptSource` when uploading a manuscript file which throws an error if there are more than one files linked to the manuscript with each of the type `MANUSCRIPT_SOURCE` and `MANUSCRIPT_SOURCE_PENDING`. This is correct as there should never be more than on manuscript source and one file in the process of replacing that file.

Cur

[2019-02-22 10:38] diversemix opened #1565 "Fix potential overwriting of files with emojis"
Further to #1561 ... there is a potential possibility that files could get overwritten, for example this file list:

- 👍`File1`
- 👉`File1`

Would just become one file `File1`

Suggested solution is to index the files when we replace unicode ... so in fact the above list would become:
- `1-File1`
- `2-File1`

[2019-02-22 10:51] #1561 closed, assigned to diversemix

[2019-02-22 13:08] hdrury1 commented on #1557
Hey @jyenes it's come to my attention that we're also going to need to suppress the name that appears as part of the Disclosure to Editors text on the final Disclosure step of the wizard.

Will raise a new ticket!

[2019-02-22 13:16] hdrury1 opened #1567 "Suppress author name in Data Disclosure form for HotJar recordings"
Further to the work to anonymise HotJar screen recordings, we should also suppress the author name in the Data Disclosure form:

<img width="902" alt="screen shot 2019-02-22 at 13 15 00" src="https://user-images.githubusercontent.com/17023702/53244869-fc2eb780-36a3-11e9-89b1-f0b98588dd5f.png">

[2019-02-22 13:58] diversemix opened #1568 "Export issue in Production - no MECA file generated"
email:
[code]

Logs:
[code]

[2019-02-22 14:12] diversemix commented on #1568
Database:

[code]

[2019-02-22 14:15] diversemix commented on #1568
I plan on deleteing the rows from the file table `2d7a681e-06b3-4d15-b0fe-09e712a0be61` and `d7bdd31c-86f9-49da-bbb2-98df99e40f6f`

We now need a way of re-exporting this submission:

[code]

[2019-02-22 14:26] diversemix commented on #1568
Rogue files now deleted:

[code]

[2019-02-22 15:33] #1568 closed, assigned to nobody

[2019-02-22 16:08] diversemix commented on #1568
Ran in production:
[code]

/cc @hdrury1 / @jyenes

[2019-02-22 16:30] #1554 closed, assigned to nobody

[2019-02-25 08:20] diversemix opened #1571 "eJP / MECA issues in production"
Hi Peter and Hannah,

At least the last three submissions using xPub have come through without the article file. The one that failed first time yesterday also came without an article file, so it seems there is a more general problem.

Is it possible to explore and correct the issue ASAP (and it's likely to be an eJP issue?) and/or dial down the percentage (0%?) until submissions come complete with

[2019-02-25 08:23] diversemix commented on #1571
Investigation done at the weekend showed there were the following entries in bad states:
[code]

Loggly reported:
[code]

Hannah made the shout to not look into this (given it was a Saturday morning) instead to filter all users to eJP

/cc @acollings @hdrury1

[2019-02-25 08:33] diversemix commented on #1571
All the MECA packages that contain supplementary files - these come out as:
[code]

[2019-02-25 08:40] diversemix commented on #1571
Managed to repeat this locally on my dev machine. All tests are green :fearful:

[2019-02-25 10:09] diversemix commented on #1555
No PR - as we are going to stop working on this until we have a conversation. May not be addressed - as the code may be re-written.

[2019-02-25 10:09] #1555 closed, assigned to hem-brahmbhatt

[2019-02-25 11:59] #1557 closed, assigned to jyenes

[2019-02-25 12:18] hdrury1 opened #1574 "Add 'empty dashboard' state to user journey"
## Problem / Motivation
- WHO wants this? Authors submitting through xPub
- WHEN and WHERE do they want it? As an additional page after logging into the application and before they have begun their first submission- this page should replace the initial empty dashboard state.
- WHAT do they want? A page explaining the new submission system, and clearly directing them back to eJP in order to submit

[2019-02-25 12:30] hdrury1 opened #1575 "Update green 'Login with Orcid' screen"
## Problem / Motivation
- WHO wants this? Authors directed to xPub
- WHEN and WHERE do they want it? As the first screen they see, IF they have not already logged in via the eLife profiles service
- WHAT do they want? A screen that outlines the journal's vision and invites the user to log in using their ORCiD credentials
- WHY do they want this? So they are aware of the scope of the journal before

[2019-02-25 12:50] hdrury1 opened #1576 "Update blue 'Continue' screen"
## Problem / Motivation
- WHO wants this? Authors who have already logged into the application via the eLife profiles service
- WHEN and WHERE do they want it? Upon hitting https://reviewer.elifesciences.org
- WHAT do they want? A screen that does not ask them to log in with ORCiD but directs them to continue to the application
- WHY do they want this? If an author has already gone through the pro

[2019-02-25 13:38] #1563 closed, assigned to Cooryd

[2019-02-25 13:43] #1571 closed, assigned to diversemix

[2019-02-25 13:50] diversemix opened #1577 "Revert disabling of user filter"
See: https://github.com/elifesciences/builder-configuration/pull/33

[2019-02-25 14:54] hem-brahmbhatt opened #1580 "Include the request body from the EJP callback within the export failure email"
EJP send us the error message/failure reason when export fails. We should include this in the email that gets sent out.

Currently, we can get the error from EJP via Loggly, but this is an extra step to go through when we're facing export failures in Production.

[2019-02-25 18:30] chris-huggins commented on #1499
See links in footer on dashboard

![image](https://user-images.githubusercontent.com/41907215/53359637-5d1bf100-392b-11e9-8d68-0ccbb4f8ff98.png)

[2019-02-25 18:30] chris-huggins commented on #1498
See https://invis.io/RHQP0Q42D39#/348810694_login-Updates-EJP-Redirect and milestone for details

[2019-02-25 20:09] giorgiosironi commented on #1560
Yes but probably it needs to be split into the various tasks we will identify.

[2019-02-26 09:28] hem-brahmbhatt commented on #1551
We've had a discussion to talk about further refactoring that can be done to make the controllers easier to test. The first two points above  are unaffected by that work. The last point is covered by the future refactor work, so it does not need to be done as part of this issue.

[2019-02-26 09:53] #1567 closed, assigned to jyenes

[2019-02-26 10:01] hdrury1 commented on #1398
Going to close this given new layout requirements in #1575

[2019-02-26 10:01] #1398 closed, assigned to nobody

[2019-02-26 10:02] hdrury1 commented on #1498
Going to close this as it is superceeded by #1575

[2019-02-26 10:02] #1498 closed, assigned to nobody

[2019-02-26 10:25] acollings commented on #1497
@hdrury1 I'll be speaking with the editors later. Do you have an estimate for when this one might be ready? Thanks!

[2019-02-26 10:27] hdrury1 commented on #1497
@acollings We're waiting on a code update from eJP which I've requested from Joel happen in time for testing on Friday.

[2019-02-26 10:54] hem-brahmbhatt commented on #1533
Deleted all of eLife's resources in YLD's AWS account.

[2019-02-26 10:54] #1533 closed, assigned to hem-brahmbhatt

[2019-02-26 10:54] #1577 closed, assigned to Cooryd

[2019-02-26 11:20] #1551 closed, assigned to nobody

[2019-02-26 11:21] diversemix opened #1583 "Co-ordinate merge of #1556 with eJP"
When eJP switch over the cover letters to using PDFs - merge:

#1556

[2019-02-26 11:22] diversemix commented on #1497
Change remains un-merged - this will be merged as part of #1583

[2019-02-26 11:22] #1497 closed, assigned to nobody

[2019-02-26 11:25] diversemix commented on #1565
I've done a little work already on branch `1565-index-unicode-stripped-files`

[2019-02-26 13:52] hdrury1 opened #1584 "Create placeholder page for https://reviewer.elifesciences.org/redirect"
## Problem / Motivation
- WHO wants this? Authors and product
- WHEN and WHERE do they want it? This page will form part of the journey for users who attempt to begin a new submission in eJP and need to be redirected after we are supporting 100% of new submissions through xPub.
- WHAT do they want? Information explaining that they are being redirected and why
- WHY do they want this? We were unabl

[2019-02-26 14:06] hdrury1 opened #1585 "Add content to https://reviewer.elifesciences.org/redirect"
## Problem / Motivation
- WHO wants this? Authors and product
- WHEN and WHERE do they want it? This page will form part of the journey for users who attempt to begin a new submission in eJP and need to be redirected after we are supporting 100% of new submissions through xPub.
- WHAT do they want? Information explaining that they are being redirected and why
- WHY do they want this? We were unabl

[2019-02-26 14:31] rowenamaskell opened #1586 "Update page titles"
## Problem / Motivation
The current page titles for all https://reviewer.elifesciences.org pages are 'xpub'. As this isn't relevant for authors and shows up in various places (Tab labels, Google SERPS etc.) I would like the page titles to be updated.

## Proposed solution
- Update the page titles to conventions that are the same as the main eLife site
- e.g.
"Submit | eLife" for https://reviewer.e

[2019-02-26 15:34] hem-brahmbhatt opened #1587 "Controller Architecture"
Here are the notes from the _Refactoring xpub-controller_ meeting held on Tuesday 26th February 2019.

This issue encapsulates the work needed to get the server-side controllers into a state where the following problems are addressed:

1. Existing controllers are hard to test. Dependencies are not easy to mock.
2. Separation between controllers and helpers is unclear
3. Naming is difficult, given

[2019-02-26 16:14] hem-brahmbhatt commented on #1491
The discussion here leads me to believe that the "out of memory" issue is the error we're trying to reproduce.

My approach would be to run a load test on staging to see if it can be reproduced.

[2019-02-27 09:26] Cooryd opened #1590 "Create a pubsub client class"
## Problem / Motivation

As part of the refactoring of the controller (see #1587) it would be beneficial to have a `PubsubClient` class which could be accessed from the controllers client collection (same place as the `scienceBeamApi.js` and `S3Storage.js` client files). This client should make it easier to test processes relating to a pubsub connection, including allowing us to test without a dat

[2019-02-27 09:54] Cooryd opened #1591 "Create a client for the mailer"
## Problem / Motivation
As part of the refactoring of the controller (see #1587) it would be beneficial to have a `MailerClient` class which could be accessed from the controllers client collection (same place as the `scienceBeamApi.js` and `S3Storage.js` client files).

Currently this code sits in a file/class called `Notification` found directly in the `xpub-controller` directory with missing un